<?xml version="1.0"?>
<!--
/**
 * Addonline_SoColissimoLiberte
 * 
 * @category    Addonline
 * @package     Addonline_SoColissimoLiberte
 * @copyright   Copyright (c) 2011 Addonline
 * @author 	    Addonline (http://www.Addonline.fr)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Addonline_SoColissimoLiberte>
            <version>1.0.1</version>
            <depends>
                <Owebia_Shipping2 />
                <Mage_Shipping />
		        <Addonline_JQuery />
            </depends>
        </Addonline_SoColissimoLiberte>
    </modules>
    
    <global>
    	<blocks>
            <socolissimoliberte><class>Addonline_SoColissimoLiberte_Block</class></socolissimoliberte>
        </blocks>
    	<models>
    		<socolissimoliberte>
    			<class>Addonline_SoColissimoLiberte_Model</class>
    			<resourceModel>socolissimoliberte_mysql4</resourceModel>
    		</socolissimoliberte>
    		<socolissimoliberte_mysql4>
    			<class>Addonline_SoColissimoLiberte_Model_Mysql4</class>
    			<entities>
    				<relais>
    					<table>socolissimoliberte_relais</table>
    				</relais>
    				<horairesOuverture>
    					<table>socolissimoliberte_horaire_ouverture</table>
    				</horairesOuverture>
    				<periodesFermeture>
    					<table>socolissimoliberte_periode_fermeture</table>
    				</periodesFermeture>
    			</entities>
    		</socolissimoliberte_mysql4>
    	</models>	
    	
    	<helpers>
            <socolissimoliberte>
                <class>Addonline_SoColissimoLiberte_Helper</class>
            </socolissimoliberte>
        </helpers>
    	<resources>
    		<socolissimoliberte_setup>
    			<setup>
    				<module>Addonline_SoColissimoLiberte</module>
    				 <class>Mage_Sales_Model_Mysql4_Setup</class>
    			</setup>
    			<connection>
    				<use>core_setup</use>
    			</connection>
    		</socolissimoliberte_setup>
    		
    		<socolissimoliberte_read>
				<connection>
                    <use>core_read</use>
                </connection>
    		</socolissimoliberte_read>
    		
    		<socolissimoliberte_write>
				<connection>
                    <use>core_write</use>
                </connection>
    		</socolissimoliberte_write>
    	</resources>
    	<translate>
            <modules>
                <Addonline_SoColissimoLiberte>
                    <files>
                        <shipping>Mage_Shipping.csv</shipping>
                        <owebia>Owebia_Shipping2.csv</owebia>
                        <default>Addonline_SoColissimoLiberte.csv</default>
                    </files>
                </Addonline_SoColissimoLiberte>
            </modules>
        </translate>
    </global>
    
    <frontend>
    	<layout>
            <updates>
                <socolissimoliberte module="Addonline_SoColissimoLiberte">
                    <file>socolissimoliberte.xml</file>
                </socolissimoliberte>
            </updates>
        </layout>
        
        <routers>
            <socolissimoliberte>
                <use>standard</use>
                <args>
                    <module>Addonline_SoColissimoLiberte</module>
                    <frontName>socolissimoliberte</frontName>
                </args>
            </socolissimoliberte>
        </routers>
        
        <translate>
            <modules>
                <Addonline_SoColissimoLiberte>
                    <files>
                        <default>Addonline_SoColissimoLiberte.csv</default>
                    </files>
                </Addonline_SoColissimoLiberte>
            </modules>
        </translate>
        
	    <events> 
	        <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <socolissimoliberte_observer>
                        <type>model</type>
                        <class>socolissimoliberte/observer</class>
                        <method>checkoutEventSocodata</method>
                    </socolissimoliberte_observer>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <checkout_type_onepage_save_order>
	            <observers>
	                <laposte_socolissimosimplicite_observer>
	                    <type>singleton</type>
	            		<class>socolissimoliberte/observer</class>
	            		<method>addSocoAttributesToOrder</method>
	          		</laposte_socolissimosimplicite_observer>
	        	</observers>
	        </checkout_type_onepage_save_order>
	    </events>
    </frontend>
    
    <default>
    	<carriers>
    		<socolissimoliberte>
    			<active>0</active>
    			<title>La Poste</title>
    			<name>So Colissimo</name>
			    <specificcountry>FR</specificcountry>
			    <sallowspecific>1</sallowspecific>
    			<model>Addonline_SoColissimoLiberte_Model_Carrier_ShippingMethod</model>    
				<tracking_view_url></tracking_view_url>
				<config></config>
				<display_when_unavailable>0</display_when_unavailable>
				<stop_to_first_match>0</stop_to_first_match>
				<rdv_conditions>75001,75002,75003,75004,75005,75006,75007,75008,75009,75010,75011,75012,75013,75014,75015,75016,75116,75017,75018,75019,75020</rdv_conditions>
				<rdv_fees>4</rdv_fees>
				<shipping_period>1</shipping_period>
				<sort_order>1</sort_order>
    		</socolissimoliberte>
    	</carriers>
    </default>
    <crontab>
        <jobs>
            <socolissimoliberte_import>
                <schedule><cron_expr>0 1 * * *</cron_expr></schedule>
                <run><model>socolissimoliberte/batch::run</model></run>
            </socolissimoliberte_import>
        </jobs>
    </crontab>
</config>
