<?xml version="1.0" ?>
<config>
    <modules>
        <Addonline_CategoryNavigation>
            <version>0.0.1</version>
        </Addonline_CategoryNavigation>
    </modules>
    <global>
    	<models>
        	<categorynavigation>
    			<class>Addonline_CategoryNavigation_Model</class>
    		</categorynavigation>
    		<catalog>
    			<rewrite>
    				<observer>Addonline_CategoryNavigation_Model_Catalog_Observer</observer>
    				<category_attribute_source_navigationtype>Addonline_CategoryNavigation_Model_Catalog_Category_Attribute_Source_Navigationtype</category_attribute_source_navigationtype>
    				<category_attribute_source_cmspage>Addonline_CategoryNavigation_Model_Catalog_Category_Attribute_Source_Cmspage</category_attribute_source_cmspage>
    			</rewrite>
    		</catalog>
            <catalog_resource>
    			<rewrite>
    				<category>Addonline_CategoryNavigation_Model_Catalog_Resource_Category</category>
    				<category_flat>Addonline_CategoryNavigation_Model_Catalog_Resource_Category_Flat</category_flat>
    			</rewrite>            
            </catalog_resource>
            <sitemap_resource>
    			<rewrite>
    				<catalog_category>Addonline_CategoryNavigation_Model_Sitemap_Resource_Catalog_Category</catalog_category>
    			</rewrite>            
            </sitemap_resource>
    	</models>
    	<blocks>
    		<page>
    			<rewrite>
    				<html_topmenu>Addonline_CategoryNavigation_Block_Page_Html_Topmenu</html_topmenu>
    				<html_breadcrumbs>Addonline_CategoryNavigation_Block_Page_Html_Breadcrumbs</html_breadcrumbs>
    			</rewrite>
    		</page>
    		<catalog>
    			<rewrite>
    				<seo_sitemap_category>Addonline_CategoryNavigation_Block_Catalog_Seo_Sitemap_Category</seo_sitemap_category>
    				<seo_sitemap_tree_category>Addonline_CategoryNavigation_Block_Catalog_Seo_Sitemap_Tree_Category</seo_sitemap_tree_category>
    			</rewrite>
    		</catalog>
    		<!-- adminhtml>
    			<rewrite>
    				<catalog_category_tab_attributes>Addonline_CategoryNavigation_Block_Adminhtml_Catalog_Category_Tab_Attributes</catalog_category_tab_attributes>
    			</rewrite>
    		</adminhtml -->
    	</blocks>
    	<helpers>
        	<categorynavigation>
    			<class>Addonline_CategoryNavigation_Helper</class>
    		</categorynavigation>
    		<catalog>
    			<rewrite>
    				<data>Addonline_CategoryNavigation_Helper_Catalog_Data</data>
    				<category>Addonline_CategoryNavigation_Helper_Catalog_Category</category>
    			</rewrite>
    		</catalog>
    	</helpers>
        <resources>
            <categorynavigation_setup>
                <setup>
                    <module>Addonline_CategoryNavigation</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </categorynavigation_setup>
        </resources>
    </global>
    <frontend>
   		<category>
           <collection>
               <attributes>
                   <navigation_type />
               </attributes>
           </collection>
       </category>
       <events>
          <catalog_category_flat_loadnodes_before>
          		<observers>
                   <categorynavigation_loadnodesbefore>
                       <class>categorynavigation/observer</class>
                       <method>categoryFlatLoadNodesBefore</method>
                   </categorynavigation_loadnodesbefore>
               </observers>
          </catalog_category_flat_loadnodes_before>
       </events>
   </frontend>
   <adminhtml>
       <!--  events>
			<adminhtml_catalog_category_edit_prepare_form>
          		<observers>
                   <categorynavigation_editform>
                       <class>categorynavigation/observer</class>
                       <method>categoryEditPrepareForm</method>
                   </categorynavigation_editform>
               </observers>			
			</adminhtml_catalog_category_edit_prepare_form>
   		</events -->
   		<translate>
            <modules>
                <Addonline_CategoryNavigation>
                    <files>
                        <default>Addonline_CategoryNavigation.csv</default>
                    </files>
                </Addonline_CategoryNavigation>
            </modules>
        </translate>
   </adminhtml> 
</config>
