@font-face {
    font-family: 'lp-font';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/svgfont/lp-font.eot');
    src: url('../fonts/svgfont/lp-font.woff') format('woff'),
         url('../fonts/svgfont/lp-font.ttf') format('truetype'),
         url('../fonts/svgfont/lp-font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/svgfont/lp-font.svg#lp-font') format('svg');

}

.icon[class^="icon-"],
.icon[class*=" icon-"] {
    display: inline-block;
    font-family: 'lp-font';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
}

$icons: (
    basket: '\EA01'
);

@each $name, $icon in $icons {
    .icon-#{$name} {
        font-family: 'lp-font';
        content: $icon;
    }
}