<?xml version="1.0"?>
<config>
    <modules>
        <Addonline_Seo>
            <version>0.1.4</version>
        </Addonline_Seo>
    </modules>
    <global>
        <models>
            <seo>
                <class>Addonline_Seo_Model</class>
                <resourceModel>seo_mysql4</resourceModel>
            </seo>
            <seo_mysql4>
            	<class>Addonline_Seo_Model_Mysql4</class>
            	<entities>
            		 <attribute>
                        <table>seo_attribute</table>
		             </attribute>
            	</entities>
            </seo_mysql4>
        </models>
        <resources>
            <seo_setup>
                <setup>
                    <module>Addonline_Seo</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </seo_setup>
        </resources>
		<helpers>
            <seo>
                <class>Addonline_Seo_Helper</class>
            </seo>
        </helpers>
        
		<blocks>
			<page>
			<!-- Surchargé dans Fooman SpeedSter
				<rewrite>
					<html_head>Addonline_Seo_Block_Head</html_head>
				</rewrite> -->
			</page>
		</blocks>
		<events>
			<catalog_entity_attribute_save_after>
        		<observers>
                    <addonline_seo_save_attribute>
                        <type>singleton</type>
                        <class>seo/observer</class>
                        <method>saveAttribute</method>
                    </addonline_seo_save_attribute>
                </observers>
        	</catalog_entity_attribute_save_after>
        	<catalog_entity_attribute_load_after>
        		<observers>
                    <addonline_seo_load_attribute>
                        <type>singleton</type>
                        <class>seo/observer</class>
                        <method>loadAttribute</method>
                    </addonline_seo_load_attribute>
                </observers>
        	</catalog_entity_attribute_load_after>
        </events>
	</global>
    <frontend>
		<layout>
            <updates>
                <canonicalurl>
                    <file>aoseo.xml</file>
                </canonicalurl>
            </updates>
        </layout>
        
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <addonline_seo_edit_metas>
                        <type>singleton</type>
                        <class>seo/observer</class>
                        <method>editMetas</method>
                    </addonline_seo_edit_metas>
                </observers>
            </controller_action_layout_generate_blocks_after>
            <catalog_controller_product_init>
                <observers>
                    <addonline_seo_edit_metas>
                        <type>singleton</type>
                        <class>seo/observer</class>
                        <method>redirectCategoryProductUrl</method>
                    </addonline_seo_edit_metas>
                </observers>
            </catalog_controller_product_init>
        </events>
	</frontend>
	<adminhtml>
		<translate>
            <modules>
                <seo>
                     <files>
                          <default>Addonline_Seo.csv</default>
                     </files>
                </seo>
            </modules>
        </translate>
        <events>
	        <adminhtml_cms_page_edit_tab_meta_prepare_form>
	        	<observers>
                    <addonline_seo_meta_prepare_form>
                        <type>singleton</type>
                        <class>seo/observer</class>
                        <method>cmsMetaForm</method>
                    </addonline_seo_meta_prepare_form>
                </observers>
	        </adminhtml_cms_page_edit_tab_meta_prepare_form>
	        <adminhtml_catalog_product_attribute_edit_prepare_form>
                <observers>
                    <addonline_seo_attribute_edit_prepare_form>
                        <type>singleton</type>
                        <class>seo/observer</class>
                        <method>attributeForm</method>
                    </addonline_seo_attribute_edit_prepare_form>
			    </observers>        
            </adminhtml_catalog_product_attribute_edit_prepare_form>
        </events>
    </adminhtml>
	<default>
        <catalog>
        	<seo>
        		<category_canonical_tag>1</category_canonical_tag>
        		<product_canonical_tag>1</product_canonical_tag>
        	</seo>
        </catalog>
        <web>
            <seo>
                <enabled>1</enabled>
				<trailingslash>1</trailingslash>
				<products>1</products>
            </seo>
        </web>
    </default>
</config>