<?xml version="1.0"?>
<config>
    <modules>
        <Addonline_Seo>
            <version>0.1.0</version>
        </Addonline_Seo>
    </modules>
    <global>
        <models>
            <seo>
                <class>Addonline_Seo_Model</class>
            </seo>
        </models>
	    <!-- 
	    <resources>
            <seo_setup>
                <setup>
                    <module>Addonline_Seo</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </seo_setup>
        </resources>
         -->
		<helpers>
            <seo>
                <class>Addonline_Seo_Helper</class>
            </seo>
        </helpers>
        
		<blocks>
			<page>
				<rewrite>
					<html_head_canonicalurl>Addonline_Seo_Block_Head_Canonicalurl</html_head_canonicalurl>
				</rewrite>
			</page>
			<!-- 
			<catalog>
				<rewrite>
					<category_view>Addonline_Seo_Block_Catalog_Category_View</category_view>
					<product_view>Addonline_Seo_Block_Catalog_Product_View</product_view>
				</rewrite>
			</catalog>
			 -->
		</blocks>
		
	</global>
    <frontend>
		<layout>
            <updates>
                <canonicalurl>
                    <file>aoseo.xml</file>
                </canonicalurl>
            </updates>
        </layout>
        
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <addonline_seo_observer>
                        <type>singleton</type>
                        <class>seo/observer</class>
                        <method>editMetas</method>
                    </addonline_seo_observer>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
	</frontend>
	<!--  
	<adminhtml>
		<translate>
            <modules>
                <Addonline_Seo>
                     <files>
                          <default>Addonline_Seo.csv</default>
                     </files>
                </Addonline_Seo>
            </modules>
        </translate>	
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <seo>
                                            <title>CanonicalUrl Section</title>
                                        </seo>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
	<default>
        <web>
            <seo>
                <enabled>1</enabled>
				<trailingslash>1</trailingslash>
				<products>1</products>
				<categories>1</categories>
            </seo>
        </web>
    </default>
    -->
</config>