<?xml version="1.0"?>
<config>
    <modules>
        <Addonline_Seo>
            <version>0.1.0</version>
        </Addonline_Seo>
    </modules>
    <global>
        <models>
            <seo>
                <class>Addonline_Seo_Model</class>
            </seo>
        </models>
		<helpers>
            <seo>
                <class>Addonline_Seo_Helper</class>
            </seo>
        </helpers>
        
		<blocks>
			<page>
				<rewrite>
					<html_head>Addonline_Seo_Block_Head</html_head>
				</rewrite>
			</page>
		</blocks>
		
	</global>
    <frontend>
		<layout>
            <updates>
                <canonicalurl>
                    <file>aoseo.xml</file>
                </canonicalurl>
            </updates>
        </layout>
        
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <addonline_seo_observer>
                        <type>singleton</type>
                        <class>seo/observer</class>
                        <method>editMetas</method>
                    </addonline_seo_observer>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
	</frontend>
	<adminhtml>
		<translate>
            <modules>
                <seo>
                     <files>
                          <default>Addonline_Seo.csv</default>
                     </files>
                </seo>
            </modules>
        </translate>	
    </adminhtml>
	<default>
        <catalog>
        	<seo>
        		<category_canonical_tag>1</category_canonical_tag>
        		<product_canonical_tag>1</product_canonical_tag>
        	</seo>
        </catalog>
        <web>
            <seo>
                <enabled>1</enabled>
				<trailingslash>1</trailingslash>
				<products>1</products>
            </seo>
        </web>
    </default>
</config>