 <config>
    <sections>
        <web translate="label" module="seo">
            <label>Web</label>
            <tab>general</tab>
            <frontend_type>text</frontend_type>
            <sort_order>20</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
			<groups>
                <seo translate="label">
                    <label>Search Engines Optimization</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <trailingslash translate="label">
                            <label>Force trailing slash to canonical URL's</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </trailingslash>
                    </fields>
					<fields>
						<products translate="label">
                            <label>Use for Product pages sitemap URL for canonical URL's</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </products>
					</fields>
                </seo>
			</groups>
        </web>
        
        <catalog translate="label" >
        	<groups>
        		<seo translate="label">
        			<fields>
                        <title_product translate="label comment" module="seo">
                            <label>Product Title Template</label>
                            <comment>You can use the variables {{name}}, {{sku}}, {{category.name}}, {{parent.name}} and {{brand}} in this template</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title_product>
                        <description_product translate="label comment" module="seo">
                            <label>Product Description Template</label>
                            <comment>You can use the variables {{name}}, {{sku}}, {{category.name}}, {{parent.name}} and {{brand}} in this template</comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>105</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </description_product>
                        <keywords_product translate="label comment" module="seo">
                            <label>Product Keywords Template</label>
                            <comment>You can use the variables {{name}}, {{sku}}, {{category.name}}, {{parent.name}} and {{brand}} in this template</comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </keywords_product>
                        
                        <title_category translate="label comment" module="seo">
                            <label>Category Title Template</label>
                            <comment>You can use the variables {{category.name}} and {{parent.name}} in this template</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>115</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title_category>
                        <description_category translate="label comment" module="seo">
                            <label>Category Description Template</label>
                            <comment>You can use the variables {{category.name}} and {{parent.name}} in this template</comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </description_category>
                        <keywords_category translate="label comment" module="seo">
                            <label>Category Keywords Template</label>
                            <comment>You can use the variables {{category.name}} and {{parent.name}} in this template</comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>125</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </keywords_category>
        			</fields>
        		</seo>
        	</groups>
        </catalog>
    </sections>
</config>