/server/phpunit.xml.dist
/server/app/code/community/EcomDev/PHPUnit
/server/app/code/community/EcomDev/PHPUnitTest
/socolissimo*
/gls*
/server/app/etc/modules/EcomDev_PHPUnitTest.xml
/server/app/etc/modules/EcomDev_PHPUnit.xml
/server/app/etc/modules/ZDisable_EcomDev_PHPUnitTest.xml
/server/lib/EcomDev/Utils
/server/lib/EcomDev/PHPUnit
/server/skin/frontend/CLIENT/default/node_modules
/server/skin/frontend/CLIENT-2/default/node_modules
/server/skin/frontend/CLIENT-4/default/grunt/node_modules
/*.sublime-project
/*.sublime-workspace
/server/shell/fixSUPEE6788.php
/server/var/phpunit
/server/var/phpunit.session
/server/var/phpunit.cache
/.idea