AuthName "Magmi Authentification"
AuthType Basic
# Mettre/Changer l'adresse physique
AuthUserFile /srv/www/vhosts/aomagento.addonline.biz/magmi/.htpasswd
Order deny,allow
Deny from all
Require valid-user

# Pour accepter une connection par IP cela se gere sur NGINX sur l'infra de Jetpulp.
# Voir Wiki Ngynx authentication.
#Allow from 127.0.0.1
Allow from 195.28.202.129
Satisfy Any