#solr_search_autocomplete_box{
/*  	background: url(search_box_bg.png) repeat #fff; */
	background:#fff;
	border:4px solid #a7c6dd;
   	//display: none;
    //float: left;
    position: absolute;
    height: auto;
    z-index: 20;
    top:15px;
    left:-26px;
    padding:0px 0 15px 5px !important;
    width:572px !important;
}
.result_items{
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	color:#a7c6dd;
	text-transform:uppercase;
}
#solr_search_autocomplete_box .closed-button{
	background: url("close-button.png") no-repeat scroll 0 0 transparent;
	width:28px;
	height: 28px;
	cursor: pointer;
	top: 5px !important;
	left: 550px !important;
}
#solr_search_autocomplete_box ul li.marked{
	font-weight:bold;
}
#solr_search_autocomplete_left,#solr_search_autocomplete_right{
	/*float:left;*/
}

#solr_search_autocomplete_right{
	float: left;
    text-align: left;
}
#solr_search_autocomplete_right .solr_search_suggest_thumb{
	float: left;
	width: 30px;
	height: 30px;
	border: 1px solid #e7e7e7;
	margin-top:2px;
    /*height: 32px;
    //padding: 2px 5px 2px 0;*/
}
.suggested-item{
	text-align:left;
	width:265px;
	float:left;
	border-bottom:1px solid #e7e7e7;
	margin-right:11px;
	/*padding: 2px;
	height: 36px;
	//padding-top: 3px;*/
}

.ac_loading {
	*background: url("../../js/solrsearch/ajax-loader.gif") no-repeat scroll 0 0 #FFFFFE;
}

.ac_odd {
	background-color: #eee;
}

.ac_over, .selected {
	background-color: #EAF2FB;
	color: #005B9A;
	cursor:pointer;
	text-align:left;
	/*padding: 2px;*/
}
.result_page_loading{
	background: url("../../js/solrsearch/ajax-loader.gif") no-repeat scroll 0 0 #FFFFFE;
}

#solr_search_autocomplete_left {
    /*background: none repeat scroll 0 0 #709dd6;*/
    border-radius: 7px 7px 7px 7px;
    padding: 10px;
    width: 200px;
}
#solr_search_autocomplete_left div{
	padding: 2px;
}
#solr_search_autocomplete_left span.solr_search_suggest_item_title,
#solr_search_autocomplete_right span.solr_search_suggest_item_title,
#solr_search_autocomplete_left span.solr_search_suggest_item_title a
{
	text-transform: capitalize;
	color: #005B9A;
}
.suggested-item .solr_search_suggest_item_title{
	display:block;
	float:left;
	width:168px;
	text-transform:uppercase !important;
	color:#5c5c5c !important;
	margin-left:10px;
	line-height:15px;
}
.suggested-item .solr_search_suggest_item_subtitle{
	display:block;
	float:right;
	width:50px;
	text-align:right !important;
	color:#a7c6dd !important;
	padding-top:13px;
}
#solr_search_autocomplete_left span.solr_search_suggest_item_subtitle,#solr_search_autocomplete_right span.solr_search_suggest_item_subtitle,
#solr_search_autocomplete_left span.solr_search_suggest_item_subtitle a
{
	font-weight: normal;
	color: #666666;
}
#solr_search_autocomplete_left li.solr_search_suggest_item_row{
	border-bottom: 1px solid #EEEEEE;
	width: 98%;
	height: 35px;
}
#solr_search_autocomplete_right {
    /*background: none repeat scroll 0 0 #709dd6;*/
    border-radius: 7px 7px 7px 7px;
    margin-left: 0;
    padding: 5px;
    width: 400px;
}
.suggest-full-width{
	color:#5c5c5c !important;
}
.suggest-nb-product{
	color:#a7c6dd !important;
}
.with-sep{
	background:url(sep-list.gif) 0 0 no-repeat;
	position:relative;
	top:10px;
	margin-bottom: 10px;
}

/*
.solrsearch-index-index .page-title {
    background: url("../../skin/frontend/pixellium/default/images/cat-title-picto.png") no-repeat scroll 10px center #292929;
    border: medium none;
    height: 40px;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 624px;
}
.solrsearch-index-index .page-title h1{
	background: url("../../skin/frontend/pixellium/default/images/picto-reflex.png") no-repeat scroll right top transparent;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    height: 51px;
    line-height: 0;
    margin: -3px -30px 0 0;
    padding: 22px 0 0 30px;
}
*/
.solrsearch-index-index .category-products {
    margin-top: 0px;
}
input.category {
	margin-right:5px;
}
#solr_search_autocomplete_left li {
	clear:both;
}
#solr_search_autocomplete_left li span, #solr_search_autocomplete_left li input{
	float:left;
}
#solr_search_autocomplete_left li input{
	margin-top:2px;
}
#solr_search_autocomplete_left li span{
	width:100%;
}
.solr_search_autocomplete_box_bottom{
/* 	background:url(search_box_bg_bottom.png) no-repeat transparent; */
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height: 25px;
	text-align: right;
}
#solr_search_view_all_link{
	padding-right: 15px;
}
#solr_search_view_all_link a{
	font-weight: normal;
	text-decoration:underline;
}