/* Home Page ========================================================================= */
.cms-home {
	
	.main {
		margin-top: 20px;
		.std {
			display: none;
		}
	}
	
	.home-mea {
		//float: right;
		//width: 230px;
		//height: 350px;
	}
	
	.breadcrumbs-container {
		display: none;
	}
	
	.bx-wrapper {
		margin: 0 auto;
		width: 1272px;
		height: 423px;
		
		.bx-viewport {
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;
			border: none;
			left: 0;
		}
		
		.bx-pager.bx-default-pager {
			padding: 0;
			width: 100%;
			
			a {
				background: @bg-01;
				border: 1px solid rgba(56, 56, 56, .4);
				border-radius: 200em;
				.transition-ease-in-out(.4s);
				
				&:hover {
					border: 1px solid rgba(56, 56, 56, .8);
					.transition-ease-in-out(.4s);
				}
								
				&.active {
					border: 1px solid rgba(56, 56, 56, 1);
				}
			}
		}
		
		.product {
			height: 350px;
			
			> div {
			
				margin: 60px 0 0 70px;
			
				.product-name {
					font-size: 30px;
					font-family: open_sansbold;
					color: #0d0d0d;
					text-decoration: none;
				}
				
				.price-box {
					margin: -5px 0 10px 0;
				}
				
				.price {
					font-size: 28px;
				}
				
				.old-price .price {
					color: #000;
					font-size: 20px;
				}
				
				.lnk {
					.primary-button;
					padding-left: 30px;
					padding-right: 30px;
					display: inline-block;
				}
				
			}
		}
		
		.bx-prev {
			left: 607px;
			top:435px;		
			.sprite(@prev-little);
			.transition-ease-in-out(.2s);
			
		}
		
		.bx-next {
			right: 607px;	
			top:435px;			
			.sprite(@next-little);
		}
		
	}
	
	
	
	.product-grid-mea {
		
		clear: both;
	
		.item {
			width: 230px;
			
			&:nth-child(4n) {
				margin-right: 0;
			}
		}
	}
	
}