/*
 _    _  ____  __  __ ______ 
 | |  | |/ __ \|  \/  |  ____|
 | |__| | |  | | \  / | |__   
 |  __  | |  | | |\/| |  __|  
 | |  | | |__| | |  | | |____ 
 |_|  |_|\____/|_|  |_|______|
                              
*/
                             
.cms-home {
	
	.main {
		margin-top: 20px;
		.std {
			display: none;
		}
	}
	
	.home-mea {
		.rgba(@c-05, 10%);
		border-bottom: 1px solid @result;
		width: @width;
		height: 215px;
		margin-bottom:27px;
		padding-top:56px;
		
		li{
			float:left;
			margin-right:8px;
			
			
			a{
				position:relative;
				.transition-ease-in-out(.2s);
				height:136px;
				width:312px;
				overflow: hidden; 
				display:block;
				
				 img{
					display:inline-block;
					.transition-ease-in-out(.2s);
				}
				
				&:before{
					width:312px;
					height:68px;
					content:"";
					background:@c-04;
					position:absolute;
					top:-68px;
					left:0;
					z-index:9999;
					.transition-ease-in-out(.2s);					
				}
				&:after{
					width:312px;
					height:68px;
					content:"";
					background:@c-04;
					position:absolute;
					bottom:-68px;
					left:0;
					z-index:9999;
					.transition-ease-in-out(.2s);	
				}
				
				&:hover{
					.transparent(1);
					&:before{
						width:312px;
						height:58px;
						content:"";
						background:@c-04;
						position:absolute;
						top:0;
						left:0;
						z-index:9999;
						.transition-ease-in-out(.2s);
						.transparent(0.3);
					}
					&:after{
						width:312px;
						height:15px;
						content:"";
						background:@c-04;
						position:absolute;
						bottom:0;
						left:0;
						z-index:9999;
						.transition-ease-in-out(.2s);
						.transparent(1);
					}
				}
			}
			&:last-child{
				margin-right:0;
			}
		}
		
	}
	
	.breadcrumbs-container {
		display: none;
	}
	
	.bx-wrapper {
		margin: 0 auto;
		width: 1272px;
		height: 423px;
		
		.bx-viewport {
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;
			border: none;
			left: 0;
		}
		
		.bx-pager.bx-default-pager {
			padding: 0;
			width: 100%;
			
			a {
				background: @bg-01;
				border: 1px solid rgba(56, 56, 56, .4);
				border-radius: 200em;
				.transition-ease-in-out(.4s);
				
				&:hover {
					border: 1px solid rgba(56, 56, 56, .8);
					.transition-ease-in-out(.4s);
				}
								
				&.active {
					border: 1px solid rgba(56, 56, 56, 1);
				}
			}
		}
		
		.product {
			height: 423px;
			
			> div {
			
				margin: 280px 0 0 160px;
			
				.product-name {
					font-size: 30px;
					font-family: open_sansbold;
					color: @c-05;
					text-decoration: none;
				}
				
				.price-box {
					margin: -5px 0 10px 0;
				}
				
				.price {
					font-size: 28px;
				}
				
				.old-price .price {
					color: @c-02;
					font-size: 20px;
				}
				
				.lnk-decouvrir {

					padding-left:22px;
					display: inline-block;
					background: @c-04 !important;
					position:relative;
					height:42px;
					line-height:42px;
					
					
					&:before{						
						background: @c-05;						
					}
					&:after{
						content:"";
						position:absolute;
						top:14px;
						right:20px;
						z-index:9999;
						.sprite(@arrow-right-white);					
					}
					&:hover{
						&:before{							
							background-color:  @c-05;
							
						}
					}
				}
				
			}
		}
		
		.bx-prev {
			left: 607px;
			top:435px;		
			.sprite(@prev-little);
			.transition-ease-in-out(.2s);
			
		}
		
		.bx-next {
			right: 607px;	
			top:435px;			
			.sprite(@next-little);
		}
		
	}
	
	
	
	.product-grid-mea {
		
		clear: both;
	
		.item {
			width: 230px;
			
			&:nth-child(4n) {
				margin-right: 0;
			}
		}
	}
	
}

/*Width slider sur ipad*/

@media screen and (max-width: 1024px) {
  body.cms-index-index .wrapper .page .bx-wrapper{ max-width: 100% !important;}
}