/******************************************************************
Site Name: Extrasynthèse
Author: Jetpulp

Stylesheet: Stylesheet Commons

******************************************************************/


/*******************************************************************

SOMMAIRE


@_00 HOVER
@_01 FUNCTIONS
@_02 RESET
@_03 FORMULAIRES
@_04 MESSAGES
@_05 FIL D'ARIANE
@_06 PAGE HEADING
@_07 DATA TABLE
@_08 BUNDLE PRODUCT TABLE
@_09 GENERIC INFO BOX
@_10 SHOPPING CART TOTAL SUMMURY ROW
@_11 SHOPPING CART TAX INFO
@_12 MICS
@_13 GLOBAL SITE NOTICE
@_14 HEADER
@_15 NAVIGATION
@_16 SIDEBAR
@_17 CONTENT STYLE
@_18 SHOOPING CART
@_19 CHECKOUT
@_20 MAP POPUP
@_21 FOOTER
@_22 CLEAR
@_23 SELECT
@_24 SEARCH AUTOCOMPLEATE



*******************************************************************/





/*******************************************************************

@_00 HOVER

*******************************************************************/


.hover{
	opacity: .6;
}


/*******************************************************************

@_01 FUNCTIONS

*******************************************************************/



.primary-button {
	text-align: center;
	display: block;
	font-family: 'oswaldbook';
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
	color: $c-01;
	background: $c-05;
	height: 30px;
	border: none;
	box-sizing: border-box;
	cursor: pointer;
	&:hover{
		@include transparent(1);
	}
}

.lnk-primary {
	position: relative;
	padding-left: 10px;

	&:before {
		content: "";
		position: absolute;
		top: 5px;
		left: 0;
		@include sprite($arrow-right-primary);
	}
}

.lnk-primary-back {
	position: relative;
	padding-left: 10px;
	text-decoration: none;
	line-height: inherit;

	&:before {
		content: "";
		position: absolute;
		top: 4px;
		left: 0;
		@include sprite($arrow-left-primary);
		z-index: inherit;
		transform:none;
		  background-color: $c-01;
		  -webkit-transform: none;
		  transform: none;
		  -webkit-transform-origin: 0;
		  transform-origin: 0;
		  transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
		  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
	}

	&:hover{
		&:before{
			background-color: $c-01;
		}

	}
}

button, .button-effect-inverse {
	letter-spacing:1px;
	text-decoration:none;
	text-transform:uppercase;
	font-family: 'oswaldbook';
	color:$c-01;
	line-height:30px;
	width: 208px;
	display: block;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	-webkit-transition: border-color 0.3s, color 0.3s;
	transition: border-color 0.3s, color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	background:$c-04;
	border:none;
	cursor:pointer;
	font-weight: normal !important;

	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 150%;
		height: 100%;
		background: $c-04;
		z-index: -1;
		-webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
		transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
		-webkit-transform-origin: 0% 100%;
		transform-origin: 0% 100%;
		-webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
		transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
	}
	&:hover{
		&:before{
			opacity: 1;
			background-color:  $c-05;
			-webkit-transform: rotate3d(0, 0, 1, 0deg);
			transform: rotate3d(0, 0, 1, 0deg);
			-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
			transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
		}
	}

}

.button-effect {
	font-size: 12px;
	letter-spacing:1px;
	text-decoration:none;
	text-transform:uppercase;
	font-family: 'oswaldbook';
	color:$c-01;
	line-height:30px;
	width: 208px;
	display: block;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	-webkit-transition: border-color 0.3s, color 0.3s;
	transition: border-color 0.3s, color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	background:$c-05;
	border:none;

	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 150%;
		height: 100%;
		background: $c-04;
		z-index: -1;
		-webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
		transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
		-webkit-transform-origin: 0% 100%;
		transform-origin: 0% 100%;
		-webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
		transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
	}

	&:hover{
		&:before{
			opacity: 1;
			background-color:  $c-04;
			-webkit-transform: rotate3d(0, 0, 1, 0deg);
			transform: rotate3d(0, 0, 1, 0deg);
			-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
			transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
		}
	}

}





/*******************************************************************

@_02 RESET

*******************************************************************/

* {
	margin:0;
	padding:0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: $font-light, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.40;
	color: $c4;
}

img           { border:0; vertical-align:top; }

a             { color: $c-05; text-decoration:underline; }
:focus        { outline:0; }

/* Headings */
h1,h2,h3,
h4,h5,h6      { margin:0 0 5px; line-height:1.35; color:$c-02; }
h1            { font-size:20px; font-weight:normal; }
h2            { font-size:18px; font-weight:normal; }
h3            { font-size:16px; font-weight:normal; }
h4            { font-size:14px; font-weight:normal; }
h5            { font-size:12px; font-weight:normal; }
h6            { font-size:11px; font-weight:normal; }

/* Forms */
form          { /*display:inline;*/ }
fieldset      { border:0; }
legend        { display:none; }

/* Table */
table         { border:0; border-spacing:0; empty-cells:show; font-size:100%; }
caption,th,td { vertical-align:top; text-align:left; font-weight:normal; }

/* Content */
p             { margin:0 0 10px; }
strong        { font-weight:bold; }
address       { font-style:normal; line-height:1.35; }
cite          { font-style:normal; }
q,
blockquote    { quotes:none; }
q:before,
q:after       { content:''; }
small,big     { font-size:1em; }

/* Lists */
ul,ol         { list-style:none; }

/* Tools */
.hidden       { display:block !important; border:0 !important; margin:0 !important; padding:0 !important; font-size:0 !important; line-height:0 !important; width:0 !important; height:0 !important; overflow:hidden !important; }
.nobr         { white-space:nowrap !important; }
.wrap         { white-space:normal !important; }
.a-left       { text-align:left !important; }
.a-center     { text-align:center !important; }
.a-right      { text-align:right !important; }
.v-top        { vertical-align:top; }
.v-middle     { vertical-align:middle; }
.f-left,
.left         { float:left !important; }
.f-right,
.right        { float:right !important; }
.f-none       { float:none !important; }
.f-fix        { float:left; width:100%; }
.no-display   { display:none; }
.no-margin    { margin:0 !important; }
.no-padding   { padding:0 !important; }
.no-bg        { background:none !important; }


.clearfix {
  zoom: 1;
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}

.fancybox-close {
	@include sprite($picto-close);
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	z-index: 8040;
}



/*******************************************************************

@_02 LAYOUT

*******************************************************************/

.page-print { background:$c-01; padding:25px 30px; text-align:left; }
.page-empty { background:$c-01; padding:20px; text-align:left; }
.page-popup { background:$c-01; padding:25px 30px; text-align:left; }
.main-container {
	min-height: calc(100vh - 630px);
	display: block;
 }
.main {
	width:$width;
	padding: 0;
	margin:35px auto 0 auto;
	min-height:400px;
	background: $c-01;
	position:relative;
}

/* Base Columns */
.col-left { float:left; width:225px; margin-bottom: 20px; }
.col-main { float:left; width:715px; padding:0 0 1px; }
.col-right { float:right; width:195px; padding:0 0 1px; }

/* 1 Column Layout */
.col1-layout .col-main { float:none; width:auto; }

/* 2 Columns Layout */
.col2-left-layout .col-main { float:right; }

/* 3 Columns Layout */
.col3-layout .col-main { width:475px; margin-left:17px; }
.col3-layout .col-wrapper { float:left; width:687px; }
.col3-layout .col-wrapper .col-main { float:right; }

/* Content Columns */
.col2-set{ padding-bottom:30px;width:720px;}
.col2-set .col-1 { float:left; width:48.5%; }
.col2-set .col-2 { float:right; width:48.5%; }
.col2-set .col-narrow { width:32%; }
.col2-set .col-wide { width:65%; }

.col3-set .col-1 { float:left; width:32%; }
.col3-set .col-2 { float:left; width:32%; margin-left:2%; }
.col3-set .col-3 { float:right; width:32%; }

.col4-set .col-1 { float:left; width:23.5%; }
.col4-set .col-2 { float:left; width:23.5%; margin:0 2%; }
.col4-set .col-3 { float:left; width:23.5%; }
.col4-set .col-4 { float:right; width:23.5%; }



/*******************************************************************

@_03 FORMULAIRES

*******************************************************************/

label.required em {
	/*float: right;*/
	margin-left: 5px;
	color:$c2;
	font-style:normal;
	font-family:$font-light;
	font-size:14px;
}

input,select,textarea,button {
	font-size: 14px;
}

input.input-text,select,textarea {

	border: 1px solid rgba($c-05, 0.2);
	padding: 2px 8px 3px 8px;
	color:$c-05;

	&:focus{
		border-color:rgba($c-05, 0.5);
		color:c-08;
	}
}
select{
	height:25px;
	padding-right: 0;
	color:$c-08;
}

textarea { overflow:auto; }
input.radio { margin-right:3px; position:relative;top:2px;}
input.checkbox { margin-right:3px; }
input.qty { width:2.5em !important; }

button.button::-moz-focus-inner { padding:0; border:0; } /* FF Fix */
button.button { -webkit-border-fit:lines; } /* <- Safari & Google Chrome Fix */
button.button { cursor: pointer; }
button.disabled span { opacity: .2; }

button.btn-checkout span { height:40px; border:0; background:url(../images/btn_checkout.gif) 0 0 no-repeat; padding:0 0 0 9px; font:bold 15px/40px Arial, Helvetica, sans-serif; color:#fff; }
button.btn-checkout span span { background-position:100% 0; padding:0 25px 0 16px; }
button.btn-checkout.no-checkout span { background-position:0 100%; color:#b8baba; }
button.btn-checkout.no-checkout span span { background-position:100% 100%; }

p.control input.checkbox,
p.control input.radio { margin-right:6px; }


/* Form lists */
.form-list {
	li {
		margin-bottom: 5px;
	}

	.field:first-child {
		margin-bottom: 5px;
	}

	label {
		margin-bottom: 3px;
		display: inline-block;
		text-transform:uppercase;
		font-size:11px;
		color:$c-05;
	}

	.input-box {
		width: 100%;

		.input-text {
			width: 100%;
		}
	}
}

.buttons-set {
	clear: both;
	text-align: right;

	p.required {
		margin: 0 0 10px;
	}

	.back-link {
		a {
			@extend .lnk-primary-back;

			small {
				display: none;
			}
		}
	}

	.back-link {
		float: left;
		margin: 0;
	}

	button.button {
		float: right;
		margin-left: 5px;
		margin-top:10px;
	}
}

.buttons-set-order { margin:10px 0 0; }
.buttons-set-order .please-wait { padding:12px 7px 0 0; }


/* Form Validation */
.validation-advice {
	clear:both;
	min-height:13px;
	margin:9px 0 0;
	padding-left:17px;
	font-size:14px;
	line-height:13px;
	position:relative;
	color:#f15c22;
	font-family:$font-light;


	&:before{
		content:"";
		display:block;
		@include sprite($validation-arrow);
		position:absolute;
		top:2px;
		left:0;
	}
}
.validation-failed { border:1px solid #f15c22 !important; background:#fff !important; }

/* Expiration date and CVV number validation fix */
.v-fix { float:left; }
.v-fix .validation-advice { display:block; width:12em; margin-right:-12em; position:relative; }



/*******************************************************************

@_04 MESSAGES

*******************************************************************/

.main .messages { /*display: none;*/ } /* les messages sont affciher au niveau template de page (1colmun.phtml...) */
.success { color:#84cb1d; }
.error { color:#f15c22; }
.notice { color:#dbb000; }

.messages {
	font-size: 16px;
	padding: 15px 0;
	font-family: georgia;
	margin: 30px 0;
	background-color: #eee;

	> li {
		width: $width;
		padding: $padding;
		margin: auto;

		ul {
			padding-left: 25px;
			position: relative;

			li { padding-right: 200px; }
		}

		&.success-msg {
			color: #84cb1d;

			ul:before {
				content: "";
				position: absolute;
				top: 4px;
				left: 0;
				@include sprite($picto-success);
			}
		}

		&.error-msg {
			color: #f15c22;

			ul:before {
				content: "";
				position: absolute;
				top: 5px;
				left: 0;
				@include sprite($picto-error);
			}
		}

		&.note-msg,
		&.notice-msg {
			color: #dbb000;

			ul:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				@include sprite($picto-notice);
			}
		}
	}
}

/*******************************************************************

@_05 FIL D'ARIANE

*******************************************************************/

.columnleft2{
	.breadcrumbs-container {
		top:30px;
		position:absolute;
		left:0;
	}
}
.column1{
	.breadcrumbs-container {
		position:absolute;
		top:47;
		//border-bottom:1px solid rgba(0, 0, 0, 0.1);
		padding-bottom:25px;
		margin-bottom:23px;
	}
}

.breadcrumbs-container {
	width: $width;
	margin:0 auto;
	font-size:11px;




	.breadcrumbs {
		margin: auto;
		width: $width;

		.lienhome{
			cursor:pointer;
		}

		li {
			display:inline;

			a {
				text-decoration: none;
				color: $c-05;
			}

			strong {
				color: $c-08;
				font-weight: normal;
			}

			a + span {
				@include sprite($arrow-right-primary);
				text-indent: -200em;
				overflow: hidden;
				display: inline-block;
				margin: 0 3px 0 5px;
			}
		}
	}

	.link-compare{
		color:$c-05;
		text-decoration: underligne;
	}
}



/*******************************************************************

@_06 PAGE HEADING

*******************************************************************/

.page-title {
	position: relative;
	h1,
	h2 {
		 font-family: 'oswaldlight';
		color: $c-02;
		font-size: 46px;
		text-transform: uppercase;;
	}

	.required {
		position: absolute;
		top: 14px;
		right: 0;
	}

	.separator { margin:0 3px; }
	.link-rss { float:right; margin:7px 0 0; }
}

.title-column-left{
	margin-bottom:30px;
	padding-bottom:30px;
	border-bottom:1px solid rgba(0,0,0,0.1);
}

.one-page-title{
	width:$width;
	margin:0 auto;
	height:97px;
	border-bottom:1px solid rgba(0,0,0,0.1);

	.wrap{
		margin:0 auto;
		width:$width;
	}

	h1{
		line-height:93px;
	}
}

.title-buttons { text-align:right; }
.title-buttons h1,
.title-buttons h2,
.title-buttons h3,
.title-buttons h4,
.title-buttons h5,
.title-buttons h6 { float:left; }

.subtitle,
.sub-title { clear:both; padding:15px 0 0; font-size:15px; font-weight:normal; margin:0 0 6px; color:#e25203; }



/*******************************************************************

@_07 DATA TABLE

*******************************************************************/

.data-table { width:100%; color: $c-08; }
.data-table{

	thead{

		th{
			padding:15px 8px 0 8px;
			white-space:nowrap;
			vertical-align:top;
			color:$c-05;
			line-height:30px;
			font-size:12px;

			&[colspan="2"]{
				border-bottom:0;
			}

		}

		tr.first{
			th:last-child{
				border-right:0;
			}
		}

		tr.last{
			th{

				padding-top:0;
				padding-bottom:8px;


				&.a-center.first{
					border-right:0;
				}
			}

			td{
				line-height:30px;
				font-size:12px;
			}
		}

	}

}
.data-table td.last { border-right:0; }
/* .data-table th { padding:3px 8px; font-weight:normal; } */
.data-table td, .data-table th {
	padding:3px 8px;
	vertical-align:middle;
}

.data-table th{
	line-height:30px;
	font-size:12px;
	color:$c-11;

}
.data-table td{
	line-height:30px;
	font-size:12px;

}
.data-table thead th.wrap { white-space:normal; }
.data-table thead th .tax-flag {white-space:nowrap; }

.data-table tfoot { border-bottom:1px solid $c6; }
.data-table .first td, .data-table .first th { border-top:1px solid rgba(0, 0, 0, 0.1); }
.data-table > .last td, .data-table > .last th { border-bottom:1px solid rgba(0, 0, 0, 0.1); }
.data-table tfoot td { padding-top:1px; padding-bottom:1px; border-bottom:0; border-right:1px solid $c6; }
.data-table tfoot strong { font-size:16px; }

.data-table tbody th,
.data-table tbody td { border-bottom:1px solid rgba(0, 0, 0, 0.1); }


/*******************************************************************

@_08 BUNDLE PRODUCT TABLE

*******************************************************************/

.data-table tbody.odd tr { background:#f8f7f5 !important; }
.data-table tbody.even tr { background:#f6f6f6 !important; }
.data-table tbody.odd tr td,
.data-table tbody.even tr td { border-bottom:0; }
.data-table tbody.odd tr.border td,
.data-table tbody.even tr.border td { border-bottom:1px solid rgba(0, 0, 0, 0.1); }

.data-table tbody td .option-label { font-weight:bold; font-style:italic; }
.data-table tbody td .option-value { padding-left:10px; }


/*******************************************************************

@_09 GENERIC INFO BOX

*******************************************************************/

.info-box { background:#fff url(../images/bkg_block-title.gif) 0 0 repeat-x; border:1px solid #d0cbc1; padding:12px 15px; margin:0 0 15px; }
.info-box h2 { font-weight:bold; font-size:13px; }
.info-table th { font-weight:bold; padding:2px 15px 2px 0; }
.info-table td { padding:2px 0; }


/*******************************************************************

@_10 SHOPPING CART TOTAL SUMMURY ROW

*******************************************************************/

tr.summary-total { cursor:pointer; }
tr.summary-total .summary-collapse { float:right; text-align:right; padding-left:20px; cursor:pointer; }
tr.show-details .summary-collapse { background-position:0 -52px; }
tr.summary-details td { font-size:11px; background-color:#dae1e4; color:#626465; }
tr.summary-details-first td { border-top:1px solid #d2d8db; }
tr.summary-details-excluded { font-style:italic; }


/*******************************************************************

@_11 SHOPPING CART TAX INFO

*******************************************************************/

.cart-tax-info { display:block; }
.cart-tax-info,
.cart-tax-info .cart-price { padding-right:20px; }
.cart-tax-total { display:block; padding-right:20px; cursor:pointer; }
.cart-tax-info .price,
.cart-tax-total .price { display:inline !important; font-weight:normal !important; }
.cart-tax-total-expanded { background-position:100% -52px; }



/*******************************************************************

@_12 MICS

*******************************************************************/

.links li { display:inline; }
.links li.first { padding-left:0 !important; }
.links li.last { background:none !important; padding-right:0 !important; }
.link-cart { color:#dc6809 !important; font-weight:bold; }
.link-reorder { color: $c2;}
.btn-remove  {
	display: block;
	text-indent: -200em;
	overflow: hidden;
	@include sprite($remove-filter);

	&:hover {
		opacity: .6;
	}
}
.btn-previous  {
	display:block;
	width:11px;
	height:11px;
	font-size:0;
	line-height:0;
	background:url(../images/btn_previous.gif) 0 0 no-repeat;
	text-indent:-999em;
	overflow:hidden;
}
.btn-remove2 {
	width:26px;
	height:26px;
	@include border-radius(26px);
	display: block;
	text-indent: -999em;
	overflow: hidden;
	background:$c-05;
	position:relative;
	cursor:pointer;
	@include transition-ease-in-out(0.2s);

	&:before{
		@include sprite($remove-white);
		content:"";
		position:absolute;
		top:9px;
		left:9px;
	}
	&:hover{
		@include rotate(360deg);
		background:$c-04;
		opacity:1;
	}
}
.btn-edit{
	display:block;
	width:11px;
	height:11px;
	font-size:0;
	line-height:0;
	background:url(../images/btn_edit.gif) 0 0 no-repeat;
	text-indent:-999em;
	overflow:hidden;
}

.cards-list dt { margin:5px 0 0; }
.cards-list .offset { padding:2px 0 2px 20px; }
.separator { margin:0 3px; }

.divider {
	clear:both;
	display:block;
	font-size:0;
	line-height:0;
	height:1px;
	margin:10px 0;
	background:url(../images/bkg_divider1.gif) 0 50% repeat-x;
	text-indent:-999em;
	overflow:hidden;
}

/*******************************************************************

@_13 GLOBAL SITE NOTICE

*******************************************************************/

.global-site-notice { border:1px solid #cfcfcf; border-width:0 0 1px; background:#ffff90; font-size:12px; line-height:1.25; text-align:center; color:#2f2f2f; }
.global-site-notice .notice-inner { width:860px; margin:0 auto; padding:12px 0 12px 80px; background:url(../images/i_notice.gif) 20px 25px no-repeat; text-align:left; }
.global-site-notice .notice-inner p { margin:0; border:1px dotted #cccc73; padding:10px; }
.global-site-notice .notice-inner .actions { padding-top:10px; }

/* Demo Notice */
.demo-notice { margin:0; padding:6px 10px; background:#d75f07; font-size:12px; line-height:1.15; border:0; text-align:center; color:#fff; }
.demo-notice .notice-inner { width:auto; padding:0; background:none; text-align:center; }
.demo-notice .notice-inner p { padding:0; border:0; }


/*******************************************************************

@_14 HEADER

*******************************************************************/

.lienhome{display:inline-block;}

.cms-index-index{
	.nav-container{
		#nav{
			border-bottom:none;

			li.level0 > ul{

				&:before{ content:'';
				background: #e5e5e5;
				width:952px;
				height:1px;
				position: absolute;
				top:0px;
				left: 50%;
				margin-left: -476px;}


				//border-top:1px solid $c-03;
			}
		}
	}
}

.header-container {

	background: $bg-01 ;

	.preheader-container {
		background: $bg-01 ;
		border-bottom: 3px double $c-03;

		.preheader {
			margin: auto;
			width: $width;
			line-height: 27px;
			overflow: hidden;

			.form-language {
				float: left;
				font-size:11px;
				width:200px;

				label{
					float:left;
					width:50px;
				}


				.select-style{
					  height:15px;
					   overflow: hidden;
					   border:none;
					   display:inline-block;
					   padding:0;
					   position:relative;
					   top:4px;
					   width: 70px;
					   font-size:11px;

					   &:after{
							content: "";
							display:inline-block;
							@include sprite($picto-desc);
							position:absolute;
							top:5px;
							right:0;
						}

						select{
						   background: transparent;
						   padding: 0;
						   font-size: 11px;
						   line-height:16px;
						   border: 0;
						   border-radius: 0;
						   -webkit-appearance: none;
						   position:absolute;
						   top:0;
						   left:0;
						    width: 90px;
						    height:15px;
						    color: rgba(51, 51, 51, 0.6);

						}
				}
			}

			.links {
				float: right;

				li {
					display: inline-block;

					&.first a{
						border: none;
					}
					&.last a{
						padding-right: 0;
					}

				}

				a {
					position: relative;
					padding: 0 8px;
					font-size:10px;
					text-transform:uppercase;
					text-decoration:none;
					border-left: 1px solid #cacaca;
					@include transition-ease-in-out(.4s);

					&:hover{
						color:$c-04;
					}
				}


			}

		}
	}

	.header {
		height: 92px;
		width: $width;
		margin: 0 auto;
		padding:10px 0 0 0;
		position: relative;
		z-index: 10;

		.logo {
			float: left;
			width: 169px;
			height: 64px;
			margin: 0 0 0 392px;
			cursor:pointer;

			.lienhome{
				width:100%;
				height:100%;
			}

			strong{
				display:none;
			}
		}

		.header-right{
			float:right;
			width:232px;

			.top-link-cart {
				padding-left: 0;
				font-size: 12px;
				color: $c-04;
				position:relative;
				text-align:right;
				display:block;
				float:right;
				text-decoration:none;
				margin-bottom:10px;

				&:before {
					@include sprite($picto-cart-header);
					content: "";
					position: absolute;
					top: -3px;
					left:-25px;
				}
			}

			.form-search {
				width:100%;

				label { display: none; }

				input.input-text {
					width: 206px;
					height: 25px;
					background: $bg-01;
					font-size: 12px;
					box-sizing: border-box;
					padding: 0 8px;
					border-color: $c-06;
					color:$c-05;
					font-family:$font-regular;
					display:block;
					float:left;
				}

				button.button {
					background: $bg-03;
					border: none;
					text-indent: -200em;
					overflow: hidden;
					width:25px;
					height:25px;
					position: relative;
					display:block;
					float:left;
					margin-left:1px;
					@include transition-ease-in-out(0.4s);

					span span{
						top: 7px;
						left: 7px;
						@include sprite($form-search-button);
						position: absolute;
					}

					&:before{ content:none;}

					&:hover {
						opacity: .8;
						background:$bg-04;
						span span{
							@include sprite($form-search-button2);

						}
					}
				}

				.header .form-search .search-autocomplete { z-index:999; left:40px !important; top:22px !important; }
				.header .form-search .search-autocomplete ul { border:1px solid #5c7989; background-color:#f9f5f0; }
				.header .form-search .search-autocomplete li { text-align:left; border-bottom:1px solid #f4eee7; padding:2px 8px 1px 8px; cursor:pointer; }
				.header .form-search .search-autocomplete li .amount { float:right; font-weight:bold; }
				.header .form-search .search-autocomplete li.odd { background-color:#fffefb; }
				.header .form-search .search-autocomplete li.selected { background-color:#f7e8dd; }

				.search_autocomplete{
					display: block !important;
					border:solid 1px red;
					padding:3px;
					background-color:#FFF;
				}
			}

		}
	}






}


/*******************************************************************

@_15 NAVIGATION

*******************************************************************/
.nav-container {

	background: $bg-01;
	z-index: 197;
	position: relative;

	#nav {
		border-top:1px solid $c-03;
		border-bottom:4px solid $c-03;
		width:$width;
		margin:0 auto;
		position: relative;

		li.level0 {

			float: left;

			&.home-link{ margin-left:120px;}

			&.active{
				> a{
					color:$c-04;
					position:relative;
					display:block;
				}
			}

			> a {
				font-family: 'oswaldbook';
				font-size: 14px;
				color: $c-05;
				text-transform: uppercase;
				float: left;
				line-height: 33px;
				padding: 0 20px;
				position: relative;
				text-decoration: none;

				&:after {
					content: "";
					width: 3px;
					height: 1px;
					background: $c-05;
					position: absolute;
					top: 18px;
					right: -1px;
				}

			}

			&:hover {
				> a {
					background: #fff;
					opacity: 1;
					color: #bfbfbf;

					&:after { display:none; }
				}

				ul.level0 { display: block; }
			}



			&.last {
				> a {border: none;}
			}

			ul.level0 {
				display: none;
				position: absolute;
				padding: 20px;
				top: 33px;
				left: -160px;
				background: $c-01;
				width: 1272px;
				padding:48px 161px 25px 161px;

				&.with-thumb {
					padding-right: 471px !important;
				}

				li.img-category {
					position: absolute;
					top: 48px;
					right: 161px;

					img {
						width: 312px;
					}
				}

				li.level1 {

					float: left;
					width: 160px;
					padding-right: 20px;

					> a {
						font-family: 'oswaldbook';
						font-size: 12px;
						color: $c-05;
						text-transform: uppercase;
						text-decoration: none;
						@include transition-ease-in-out(.2s);
						letter-spacing:1px;

						&:hover{
							color: $c-04;
						}
					}

					ul.level1 {

						padding-top: 5px;
						margin-bottom: 10px;

						ul { display: none; }

						li {

							margin-bottom: 3px;

							a {

								font-size: 11px;
								line-height:24px;
								color: $c-08;
								text-decoration: none;
								position: relative;
								@include transition-ease-in-out(.2s);


								&:hover {
									color: $c-04;
								}
							}
						}
					}
				}
			}
		}

		li.active{
			> a {
				color: #333 !important;

				span{
					border-bottom: solid 4px #e5e5e5;
					padding-bottom:2px;
				}
			}
		}
		li:last-child > a:after{content: none;}
	}
}


/*******************************************************************

@_16 SIDEBAR

*******************************************************************/

.block {
	margin: 0 0 15px;
	.block .btn-remove,
	.block .btn-edit { float:right; margin:1px 0 2px 5px; }
	.block .empty { margin:0; padding:5px 9px; }
	.block li.odd { background-color:#f4f3f3; }
	.block li.even { background-color:#fafafa; }
}

/* Mini Blocks */
.block-cart,
.block-wishlist,
.block-subscribe,
.block-compare,
.block-reorder,
.block-poll,
.block-gr-search,
.block-viewed,
.block-compared,
.block-related,
.block-tags,
.block-login { font-size:11px; line-height:1.25; }
.block-cart .block-title strong,
.block-wishlist .block-title strong,
.block-subscribe .block-title strong,
.block-compare .block-title strong,
.block-reorder .block-title strong,
.block-poll .block-title strong,
.block-viewed .block-title strong,
.block-compared .block-title strong,
.block-related .block-title strong,
.block-tags .block-title strong,
.block-login .block-title strong {  background-position:0 0; background-repeat:no-repeat; padding-left:21px; }

/* Mini Products List */
.mini-products-list .product-image { float:left; width:50px; border:1px solid #a9a9a9; }
.mini-products-list .product-details { margin-left:60px; }
.block-cart .mini-products-list .product-details .product-name,
.block-cart .mini-products-list .product-details .nobr small { word-wrap:break-word; }
.block-cart .mini-products-list .product-details .nobr { white-space:normal !important; }

/* Block: Currency Switcher */
.block-currency { border:0; padding:7px 12px 10px; height:51px; }
.block-currency .block-title { background:none; border:0; padding:0; margin:0 0 5px; }
.block-currency .block-title strong { font:bold 13px/21px Arial, Helvetica, sans-serif; background:url(../images/i_block-currency.gif) 0 50% no-repeat; padding:0 0 0 21px; text-transform:none; color:#fff; }
.block-currency .block-content { background:none; padding:0; }
.block-currency .block-content select { width:100%; padding:0; }


/* Block: Cart */
.block-cart .summary { background:#fff; padding:2px 8px 8px; margin:-1px 0 0; position:relative; z-index:1; }
.block-cart .amount { margin:0; }
.block-cart .amount a { font-weight:bold; }
.block-cart .subtotal { margin:5px 0 0; padding:2px 0; background:#fbebd9; text-align:center; }
.block-cart .subtotal .price { font-weight:bold; }
.block-cart .actions { border-bottom:1px solid #c2c2c2; }
.block-cart .actions .paypal-logo { float:left; width:100%; margin:3px 0 0; text-align:right; }
.block-cart .actions .paypal-logo .paypal-or { clear:both; display:block; padding:0 55px 8px 0; }

/* Block: Wishlist */
.block-wishlist .actions { text-align:right; }
.block-wishlist .actions a { float:none; }

/* Block: Related */
.block-related input.checkbox { float:left; }
.block-related .product { margin-left:20px; }

/* Block: Poll */
.block-poll .block-subtitle { font-size:12px; }
.block-poll label { color:#777; font-weight:bold; }
.block-poll input.radio { float:left; margin:1px -18px 0 0; }
.block-poll .label { display:block; margin-left:18px; }
.block-poll li { padding:3px 9px; }
.block-poll .actions { margin:5px 0 0; }
.block-poll button.button span { border-color:#406a83; background:#618499; }
.block-poll .answer { font-weight:bold; }
.block-poll .votes { float:right; margin-left:10px; }

/* Block: Orders and Returns */
.block-gr-search li { padding:3px 9px; }
.block-gr-search button.button span { border-color:#406a83; background:#618499; }

/* Block: Tags */
.block-tags .block-content .tags-list { background:none; border:0; font-size:12px; }
.block-tags .block-content a { color:#1b2d3b; }
.block-tags .actions { text-align:right; }
.block-tags .actions a { float:none; }

/* Block: Reorder */
.block-reorder input.checkbox { float:left; margin:2px -20px 0 0; }
.block-reorder .product-name { margin-left:20px; }
.block-reorder .validation-advice { margin:3px 9px 7px; }

/* Block: Banner */
.block-banner { border:0; }
.block-banner .block-content { padding:0; text-align:center; }

/* Block: Login */
.block-login .block-content { padding:5px 10px; }
.block-login label { font-weight:bold; color:#666; }
.block-login input.input-text { display:block; width:167px; margin:3px 0; }
.block-login .actions { background:none; padding:0; margin:3px 0 0; }
.block-login .actions button.button span { border-color:#406a83; background:#618499; }

/* Paypal */
.sidebar .paypal-logo { display:block; margin:10px 0; text-align:center; }
.sidebar .paypal-logo a { float:none; }




/*******************************************************************

@_17 CONTENT STYLE

*******************************************************************/
/* Product Tags */
.tags-list { display:block; font-size:13px; border:1px solid #c1c4bc; background:#f8f7f5; padding:10px; }
.tags-list li { display:inline !important; margin:0 4px 0 0; }
.tags-list li a { color:#1b2d3b; }

/* Advanced Search */
.advanced-search .form-list label { width:160px; padding-right:10px; }
.advanced-search .form-list .input-box,
.advanced-search .form-list .input-range { float:left; clear:none; }
.advanced-search-amount { margin:0 0 10px; }
.advanced-search-summary { margin:10px 0; border:1px solid #e9d7c9; background:#fff6f1; padding:10px; }
.advanced-search-summary ul { float:left; width:49%; }
.advanced-search-summary strong { color:#E17C24; padding-left:15px; background:url(../images/i_search_criteria.gif) 0 3px no-repeat; }
.advanced-search-summary p { clear:both; font-weight:bold; margin:0; }

/* Sitemap */
.page-sitemap .links { text-align:right; margin:0 8px -22px 0; }
.page-sitemap .links a { text-decoration:none; position:relative; }
.page-sitemap .links a:hover { text-decoration:underline; }
.page-sitemap .sitemap { margin:12px; }
.page-sitemap .sitemap a { color:#1b2d3b; }
.page-sitemap .sitemap li { margin:3px 0; }
.page-sitemap .sitemap li.level-0 { margin:10px 0 0; font-weight:bold; }
.page-sitemap .sitemap li.level-0 a { color:#1e7ec8; }

/* RSS */
.rss-title h1 { background:url(../images/i_rss-big.png) 0 4px no-repeat; padding-left:27px; }
.rss-table .link-rss { display:block; line-height:1.55; background-position:0 4px; }



/*******************************************************************

@_18 SHOOPING CART

*******************************************************************/

/* Checkout Types */
.cart .page-title .checkout-types li { margin:0 0 5px; }
.cart .title-buttons .checkout-types { float:right; }
.cart .title-buttons .checkout-types li { float:left; margin:0 0 5px 5px; }
.cart .checkout-types .paypal-or { margin:0 8px; line-height:2.3; }
.cart .totals .checkout-types .paypal-or { clear:both; display:block; padding:8px 55px 0 0; line-height:1.0; font-size:11px; }

.cart-table .item-msg { margin:5px 0; font-size:11px; font-weight:bold; color:#df280a; }
.cart-table tfoot td { padding:5px 10px; }
.cart-table .btn-continue { float:left; }
.cart-table .btn-empty span,
.cart-table .btn-continue span,
.cart-table .btn-update span { border-color:#406a83; background:#618499; }
.cart-table .btn-update,
.cart-table .btn-empty { float:right; }
.cart-table .btn-update { margin-left:10px; }


/* Options Tool Tip */
.item-options dt { font-weight:bold; font-style:italic; }
.item-options dd { padding-left:10px; margin:0 0 6px; }
.truncated { cursor:help; }
.truncated a.dots { cursor:help; }
.truncated a.details { cursor:help; }
.truncated .truncated_full_value { position:relative; z-index:999; }
.truncated .truncated_full_value .item-options { position:absolute; top:-99999em; left:-99999em; z-index:999; width:250px; padding:8px; border:1px solid #ddd; background-color:#f6f6f6; }
.truncated .truncated_full_value .item-options > p { font-weight:bold; text-transform:uppercase; }
.truncated .show .item-options { top:-20px; left:50%; }
.col-left .truncated .show .item-options { left:15px; top:7px; }
.col-right .truncated .show .item-options { left:-240px; top:7px; }


/*******************************************************************

@_19 CHECKOUT

*******************************************************************/

/* Tooltip */
.tool-tip { border:1px solid $c4; background:#fff; padding:15px 20px; position:absolute; z-index:9999; }
.tool-tip .btn-close { margin:-9px -14px 0; text-align:right; }
.tool-tip .btn-close a { display:block; margin:0 0 0 auto; width:15px; height:15px; background:url(../images/btn_window_close.gif) 100% 0 no-repeat; text-align:left; text-indent:-999em; overflow:hidden; }
.tool-tip .tool-tip-content { padding:5px; }

/* Gift Messages */
.gift-messages h3 { font-size:12px; font-weight:bold; color:#e87403; }
.gift-messages p.control { color:#8e8d8b; }
.gift-messages-form { position:relative; }
.gift-messages-form label { float:none !important; position:static !important; }
.gift-messages-form h4 { font-size:12px; font-weight:bold; color:#e87403; }
.gift-messages-form .whole-order { margin:0 0 25px; }
.gift-messages-form .item { margin:0 0 10px; }
.gift-messages-form .item .product-img-box { float:left; width:75px; }
.gift-messages-form .item .product-image { margin:0 0 7px; }
.gift-messages-form .item .number { margin:0; font-weight:bold; text-align:center; color:#8a8987; }
.gift-messages-form .item .details { margin-left:90px; }
.gift-messages-form .item .details .product-name { font-size:13px; font-weight:bold; margin:0 0 10px; }
.gift-messages-form .item .details .form-list .field { width:255px; }
.gift-messages-form .item .details .form-list .input-box { width:240px; }
.gift-messages-form .item .details .form-list input.input-text { width:234px; }
.gift-messages-form .item .details .form-list li.wide .input-box { width:500px; }
.gift-messages-form .item .details .form-list li.wide textarea { width:494px; }
.gift-message-link { font-size:11px;padding-right:7px; }
.gift-message-link.expanded { background-position:100% -40px; }
.gift-message-row { background:#f2efe9; }
.gift-message-row .btn-close { float:right; width:16px; height:16px; background:url(../images/btn_gm-close.gif) 0 0 no-repeat; font-size:0; line-height:0; text-indent:-999em; overflow:hidden; }

/* Checkout Agreements */
.checkout-agreements li { margin:30px 0; }
.checkout-agreements .agreement-content { overflow:auto; height:12em; padding:10px; background-color:#fbfaf6; border:1px solid #bbb6a5; }
.checkout-agreements .agree { margin:0; padding:10px 0 10px 11px; }
.checkout-agreements .agree input.checkbox { margin-right:6px; }
.checkout-agreements .agree label { font-weight:bold; color:#666; }

.opc .checkout-agreements { border:1px solid #d9dde3; border-width:0 1px; padding:5px 30px; }
.opc .checkout-agreements li { margin:20px 0 0; }
.opc .checkout-agreements .agreement-content { background-color:#fff; border-color:#e4e4e4; padding:5px; }
.opc .checkout-agreements .agree { padding-left:6px; }

/* Centinel */
.centinel .authentication { border:1px solid #ddd; background:#fff; }
.centinel .authentication iframe { width:99%; height:400px; background:transparent !important; margin:0 !important; padding:0 !important; border:0 !important; }

.opc .centinel { border:1px solid #bbb6a5; border-width:0 1px 1px; padding:10px 30px; }

/* Generic Info Set */
.info-set { background:#fbfaf6 url(../images/bkg_checkout.gif) 0 0 repeat-x; border:1px solid #bbb6a5; margin:0 0 25px; padding:20px; }
.info-set h2 { font-size:13px; font-weight:bold; margin:0 0 10px; }
.info-set h3,
.info-set h4 { font-size:13px; font-weight:bold; color:#E26703; }
.info-set h2 a,
.info-set h3 a,
.info-set h4 a { font-weight:normal; }
.info-set h2.legend { margin:-20px -20px 15px; padding:5px 10px; background:#f9f3e3; border-bottom:1px solid #bbafa0; position:relative; }
.info-set h3.legend { margin:0 0 10px; color:#0a263c; }
.info-set .divider { margin:0 -20px; padding:25px 0; position:relative; }
.info-set .box { margin:0 0 15px; }
.info-set .box h2 { color:#e26703; }
.info-set .data-table .product-name { font-size:1em !important; font-weight:bold !important; color:#1e7ec8 !important; }
.info-set .data-table .product-name a { font-weight:bold !important; }
.info-set .data-table .item-options { margin:5px 0 0; }



/*******************************************************************

@_20 MAP POPUP

*******************************************************************/

.cart-msrp-totals { color:red; font-size:12px !important; font-weight:bold; margin:10px 10px 0; padding:10px; text-align:right; text-transform:uppercase;}
.map-cart-sidebar-total { color:red; display:block; font-size:10px; font-weight:bold; text-align:left; padding:2px 5px; text-shadow:0 1px 0 #fff; }

.map-popup { background:#fff; border:1px solid #aaa; margin:12px 0 0; position:absolute; -moz-box-shadow:0 0 6px #ccc; -webkit-box-shadow:0 0 6px #ccc; box-shadow:0 0 6px #ccc; text-align:left; width:300px; z-index:100; }
.map-popup-heading { background:#d9e5ee; border-bottom:1px solid #ccc; padding:5px 30px 5px 10px; width:260px; }
.map-popup-heading h2 { font-size:16px; margin:0; text-shadow:0 1px 0 #f6f6f6; overflow:hidden; white-space:nowrap; word-wrap:break-word; text-align:left; text-overflow:ellipsis; }
.map-popup-arrow { background:url(../images/map_popup_arrow.gif) no-repeat; position:absolute; left:50%; top:-10px; height:10px; width:19px; }
.map-popup-close { background:url(../images/btn_window_close.gif) no-repeat; display:block; position:absolute; top:8px; right:10px; height:15px; width:15px; text-indent:-9999em; -moz-box-shadow:0 0 3px #999; -webkit-box-shadow:0 0 3px #999; box-shadow:0 0 3px #999; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
.map-popup-content { border-top:1px solid #eee; padding:10px; overflow:hidden; text-align:left; width:280px; }
.map-popup-checkout { display:inline; float:right; text-align:right; }
.map-popup-checkout span { display:block; padding-right:30px; }
.map-popup-checkout .paypal-logo { margin:0 0 5px; }
.map-popup-price .price-box,
.map-popup-price .price-box .special-price { margin:0; padding:0; }
.map-popup-price { margin:5px 0 0; }
.map-popup-text { clear:right; margin:0 10px; padding:10px 0; text-align:left; word-wrap:break-word; }
.map-popup-only-text { border-top:1px solid #ddd; }




/*******************************************************************

@_21 FOOTER

*******************************************************************/


.footer-container {


	.footer-1 {
		border-top: 1px solid rgba($c-05, .1);
		overflow: hidden;
		width:	$width;
		height:120px;
		margin: 0 auto;

		.bloc {
			padding: 40px 0;
			float:left;
			width:476px;
			.title{
				font-size:14px;
				color:$c-05;
				text-transform:uppercase;
				 font-family: 'oswaldlight';
				 line-height:16px;
			}
			&.paiement{
				border-right:1px solid rgba($c-05, 0.1);
				.title{
					position:relative;
					&:after{
						position:absolute;
						display:block;
						content:"";
						@include sprite($pictos-cartes);
						left: 100px;
						top: 9px;
					}
				}

			}
			&.livraison{
				padding-left:28px;
				.title{
					float:left;
					margin-right:30px;
				}
				p{
					float:left;
					width:350px;
					font-size:12px;
					line-height:16px;
					color:$c-07;
					position:relative;
					padding-left:124px;
					width:330px;
					&:before{
						position:absolute;
						display:block;
						content:"";
						@include sprite($pictos-socolissimo);
						left: 0;
						top: 0;
					}
				}

			}

		}

	}

	.footer-2 {
		border-top: 1px solid rgba($c-05, 0.1);
		overflow: hidden;
		padding: 30px 0 40px 0;
		width:	$width;
		margin: 0 auto;

		.bloc-newsletter{
			width:312px;
			height:208px;
			border: 3px double $c-03;
			color:$c-05;
			text-align:center;
			float:right;
			padding:37px 27px;
			position:relative;
			.title{
				position:relative;
				font-family: 'oswaldlight';
				text-transform: uppercase;
				font-size: 20px;
				margin-bottom:10px;
				display:block;
				padding-top:30px;
				&:before {
					position:absolute;
					display:block;
					content:"";
					@include sprite($picto-newsletter);
					left: 112px;
					top: 0;
				}
			}

			.validation-advice{
				position:absolute;
			}

			p{
				@include transparent(.6);
				line-height:16px;
				font-size:12px;
			}

			#newsletter{
				width:167px;
				@include placeholder(rgba($c-05, 0.2));
				font-size:12px;
			}
			#newsletter { height:25px;}

			button.button{
				background:$c-06;
				color:$c-05;
				font-size:12px;
				height:25px;
				width:48px;
				border:none;
				text-transform:uppercase;
				 font-family: 'oswaldlight';
				 line-height:25px;
				 @include transition-ease-in-out(.2s);
				 position:relative;
				 display: inline-block;

				 &:hover{
					background:$c-04;

					&:before{background-color: transparent;}


				 }

				 &:before {
					position:absolute;
					display:block;
					content:"";
					@include sprite($fleche-nl-footer);
					left: 33px;
					top: 8px;
					transform: rotate(0);
					background-color: transparent;
				}

			}


		}

		.col {
			float: left;
			width: 147px;
			margin-right: 12px;
			&:last-child {
				margin: 0;
			}

			p {
				color: $c-05;
				font-family: 'oswaldlight';
				text-transform: uppercase;
				font-size: 19px;
				margin: 20px 0;
			}

			li{
				line-height:16px;
				font-size:11px;
				margin-bottom:8px;
				a {
					text-decoration: none;
					opacity:.4;
					color:$c-05;
					@include transition-ease-in-out(.2s);
					&:hover{
						opacity:1;
						@include transition-ease-in-out(.2s);
					}
				}
			}

		}
	}

	.footer-3 {
		background: $bg-05;
		font-size: 12px;
		color: $c-05;
		line-height: 33px;
		ul {
			width:870px;
			float:left;
			li {
				opacity:0.4;
				display: inline;
				margin: 0 3px;
				a {
					color:$c-05;
					text-decoration: none;
				}
				&:before {
					content: "-";
					position: relative;
					left: -3px;
				}
				&:first-child:before {
					content: "";
				}
			}
		}
		.logoJP {
			position:relative;
			color:$c-05;
			padding:0 0 0 18px;
			font-size:12px;
			opacity:0.4;
			text-decoration:none;

		}
		.logoJP:before{
				content:"";
				display:block;
				width:17px;
				height:19px;
				position:absolute;
				top:-5px;
				left:0;
				background-repeat:no-repeat;
				background-position:0 0;
				background-image:url(../images/signature_footer.png);
			}
	}

	.wrap {
		width:	$width;
		padding: $padding;
		margin: 0 auto;
	}

}


/*******************************************************************

@_22 CLEAR

*******************************************************************/

.clearer:after,
.header-container:after,
.header-container .top-container:after,
.header:after,
.header .quick-access:after,
#nav:after,
.main:after,
.footer:after,
.footer-container .bottom-container:after,
.col-main:after,
.col2-set:after,
.col3-set:after,
.col3-layout .product-options-bottom .price-box:after,
.col4-set:after,
.search-autocomplete li:after,
.block .block-content:after,
.block .actions:after,
.block li.item:after,
.block-poll li:after,
.block-layered-nav .currently li:after,
.page-title:after,
.products-grid:after,
.products-list li.item:after,
.box-account .box-head:after,
.dashboard .box .box-title:after,
.box-reviews li.item:after,
.box-tags li.item:after,
.pager:after,
.sorter:after,
.ratings:after,
.add-to-box:after,
.add-to-cart:after,
.product-essential:after,
.product-collateral:after,
.product-view .product-img-box .more-views ul:after,
.product-view .box-tags .form-add:after,
.product-view .product-shop .short-description:after,
.product-view .box-description:after,
.product-options .options-list li:after,
.product-options-bottom:after,
.product-review:after,
.cart:after,
.cart-collaterals:after,
.cart .crosssell li.item:after,
.opc .step-title:after,
.checkout-progress:after,
.multiple-checkout .place-order:after,
.group-select li:after,
.form-list li:after,
.form-list .field:after,
.buttons-set:after,
.page-print .print-head:after,
.advanced-search-summary:after,
.gift-messages-form .item:after,
.send-friend .form-list li p:after{
	display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }
.guest-select {width:305px !important;}

@media screen and (max-width: 1024px) {
  .bloc {
    display:block;
    clear:both;
  }
}





/*******************************************************************

@_23 SELECT

*******************************************************************/

.custom-dropdown__select{
    font-size: inherit;
    padding: 0 .5em ;
    cursor:pointer;

}

.custom-dropdown__select--white {
    color: $c-02;

}

@supports (pointer-events: none) and
      ((-webkit-appearance: none) or
      (-moz-appearance: none) or
      (appearance: none)) {
}

.custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;



    &:after{
    	@include sprite($arrow-select);
	    top:7px;
	    right:1px;
	    content: "";
	    position: absolute;
	    pointer-events: none;
    }
}

.custom-dropdown__select {
    padding-right: 2.5em;
     border:1px solid #B2B2B2;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}





.custom-dropdown__select[disabled] {
    color: rgba(0,0,0,.3);
}

.custom-dropdown.custom-dropdown--disabled::after {
    color: rgba(0,0,0,.1);
}

/*******************************************************************

@_24 SEARCH AUTOCOMPLEATE

*******************************************************************/


#search_autocomplete.search-autocomplete{

	border:solid 1px $bg-03;
	background-color:$c-01;
	padding: 5px;
	cursor: pointer;
	z-index: 9999;

	ul{
		li{
			padding: 3px;
			&:hover{ background:$c-03;
			 }
		}
	}

}


/*******************************************************************

@_25 COOKIE LAW

*******************************************************************/




#close-cookie {
  position: absolute;
  top: 14px;
  right: 10px;
  display: block;
  width: 10px;
  height: 10px;
  background-size: 10px 10px;
  cursor: pointer;
  &:before{
  	content:"";
  	@include sprite($close);
  	display:block;
	z-index: 9999;
  }
}
