/******************************************************************
Site Name: AO Magento
Author: Jetpulp

Stylesheet: Stylesheet Home

******************************************************************/


/*******************************************************************

SOMMAIRE


@_00 HOME GENERAL
@_01 IPAD SLIDER


*******************************************************************/





/*******************************************************************

@_00 HOME GENERAL

*******************************************************************/
                             
.cms-home {
	
	.main {
		margin-top: 0; 
		width: 100%;

		.std {
			display: none;
		}
	}
	
	.home-mea {
		@include rgba($c-05, 10%);
		border-bottom: 1px solid $result;
		width: $width;
		height: 215px;
		margin:0 auto 27px auto;
		padding-top: 80px;
		
		li{
			float:left;
			margin-right:8px;
			
			
			a{
				position:relative;
				@include transition-ease-in-out(.2s);
				height:136px;
				width:312px;
				overflow: hidden; 
				display:block;
				
				 img{
					display:inline-block;
					@include transition-ease-in-out(.2s);
				}
				
				&:before{
					width:312px;
					height:68px;
					content:"";
					background:$c-04;
					position:absolute;
					top:-68px;
					left:0;
					z-index:9999;
					@include transition-ease-in-out(.2s);					
				}
				&:after{
					width:312px;
					height:68px;
					content:"";
					background:$c-04;
					position:absolute;
					bottom:-68px;
					left:0;
					z-index:9999;
					@include transition-ease-in-out(.2s);	
				}
				
				&:hover{
					@include transparent(1);
					&:before{
						width:312px;
						height:58px;
						content:"";
						background:$c-04;
						position:absolute;
						top:0;
						left:0;
						z-index:9999;
						@include transition-ease-in-out(.2s);
						@include transparent(0.3);
					}
					&:after{
						width:312px;
						height:15px;
						content:"";
						background:$c-04;
						position:absolute;
						bottom:0;
						left:0;
						z-index:9999;
						@include transition-ease-in-out(.2s);
						@include transparent(1);
					}
				}
			}
			&:last-child{
				margin-right:0;
			}
		}
		
	}
	
	.breadcrumbs-container {
		display: none;
	}
	
	.bx-wrapper {
		margin: 0 auto;
		width: 1272px;
		height: 423px;
		max-width: 1272px !important;

		.next-link, .previous-link, .bx-controls-direction {
			display: none;
		}
		
		.bx-viewport {
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;
			border: none;
			left: 0;
		}
		
		.bx-pager.bx-default-pager {
			padding: 0;
			width: 100%;
			
			a {
				background: $bg-01;
				border: 1px solid rgba(56, 56, 56, .4);
				border-radius: 200em;
				@include transition-ease-in-out(.4s);
				
				&:hover {
					border: 1px solid rgba(56, 56, 56, .8);
					@include transition-ease-in-out(.4s);
				}
								
				&.active {
					border: 1px solid rgba(56, 56, 56, 1);
				}
			}
		}
		
		.product {
			height: 423px;
			position: absolute;
			top: 100px;
			left: 160px;
			display: inline-block;
		
			.product-name {
				font-size: 60px;
				line-height: 1.2;
				font-family: 'LMRomanDunh-Regular';
				color: $c-14;
				text-decoration: none;
				display: block;
				text-transform: uppercase;
				width: 50%;
			}
			
			.price-box {
				margin: -5px 0 10px 0;
			}
			
			.price {
				font-size: 28px;
			}
			
			.old-price .price {
				color: $c-02;
				font-size: 20px;
			}
			
			.button-effect {

				display: inline-block;
				background: $c-04 !important;
				position: relative;
				height: 42px;
				line-height:42px;
				width: 153px;
				margin-top: 20px;
				text-align: center;
				
				&:before{			
					content:"";			
					background-color: $c-05;						
				}
				&:after{
					content:"";
					position:absolute;
					top:14px;
					right:20px;
					z-index:9999;
					@include sprite($arrow-right-white);					
				}
				&:hover{
					&:before{							
						background-color:  $c-05;
						
					}
				}
			}
		}
		
		.bx-prev {
			left: 607px;
			top:435px;		
			@include sprite($prev-little);
			@include transition-ease-in-out(.2s);
			
		}
		
		.bx-next {
			right: 607px;	
			top:435px;			
			@include sprite($next-little);
		}
		
	}
	
	
	
	.product-grid-mea {
		width: $width;
		margin: auto;
		clear: both;
	
		.item {
			width: 230px;
			
			&:nth-child(4n) {
				margin-right: 0;
			}
		}
	}
	
}

/*******************************************************************

@_01 IPAD SLIDER

*******************************************************************/

@media screen and (max-width: 1024px) {
  body.cms-index-index .wrapper .page .bx-wrapper{ max-width: 100% !important;}
}