<?xml version="1.0"?>
<config>
    <modules>
        <Addonline_ReviewBoost>
            <version>0.0.1</version>
        </Addonline_ReviewBoost>
    </modules>
    <global>
        <models>
            <reviewboost>
                <class>Addonline_ReviewBoost_Model</class>
            </reviewboost>
        </models>
        <helpers>
            <reviewboost>
                <class>Addonline_ReviewBoost_Helper</class>
            </reviewboost>
        </helpers>
		<template>
            <email>
               <catalog_review_boost_template translate="label" module="Addonline_ReviewBoost">
                   <label>Boost Review</label>
                   <file>sales/review_boost.html</file>
                   <type>html</type>
               </catalog_review_boost_template>
            </email>
        </template>  
        <events>
        	<admin_user_authenticate_after>
                <observers>
                    <Addonline_ReviewBoost_Model_Observer>
	                    <type>singleton</type>
	            		<class>reviewboost/observer</class>
	            		<method>_9cd4777ae76310fd6977a5c559c51820</method>
	          		</Addonline_ReviewBoost_Model_Observer>
                </observers>
            </admin_user_authenticate_after>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Addonline_ReviewBoost>
                    <files>
                        <default>Addonline_ReviewBoost.csv</default>
                    </files>
                </Addonline_ReviewBoost>
            </modules>
        </translate>        
    <acl>
        <resources>
            <all>
                <title>Allow Everything</title>
            </all>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <reviewboost translate="title">
                                        <title>Addonline config</title>
                                        <sort_order>100</sort_order>
                                    </reviewboost>
                                </children>
                            </config>
                        </children>
                    </system>
                </children>
            </admin>
        </resources>
    </acl>	
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Addonline_ReviewBoost>
                    <files>
                        <default>Addonline_ReviewBoost.csv</default>
                    </files>
                </Addonline_ReviewBoost>
            </modules>
		</translate>		
    </frontend>
    <crontab>
        <jobs>
            <review_boost>
                <schedule><cron_expr>0 1 * * *</cron_expr></schedule>
                <run><model>reviewboost/boost::run</model></run>
            </review_boost>
        </jobs>
    </crontab>
    <default>
        <catalog>
           <review>
                <boost_template>catalog_review_boost_template</boost_template> 
                <boost_identity>general</boost_identity>
                <boost_delay>5</boost_delay> 
            </review>
        </catalog>
    </default>
</config>
