<?xml version="1.0"?>
<config>
    <modules>
        <Addonline_Brand>
            <version>0.1.2</version>
        </Addonline_Brand>
    </modules>
    <frontend>   
        <routers>
            <brand>
                <use>standard</use>
                <args>
                    <module>Addonline_Brand</module>
                    <frontName>brand</frontName>
                </args>
            </brand>
        </routers>
        <layout>
            <updates>
                <brand>
                    <file>brand.xml</file>
                </brand>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<brand>
				<use>admin</use>
				<args>
					<module>Addonline_Brand</module>
					<frontName>brand</frontName>
				</args>
			</brand>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Addonline_Brand>
                    <files>
  						<default>Mage_Adminhtml.csv</default>                   
                        <brand>Addonline_Brand.csv</brand>
                    </files>
                </Addonline_Brand>
            </modules>
        </translate>    
		<menu>
            <catalog>
                <children>		
					<brand module="brand">
						<title>Manage Brands</title>
						<sort_order>11</sort_order>
						<action>brand/adminhtml_brand</action>              
					</brand>
				</children>
			</catalog>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<catalog>
							<children>
								<brand module="brand" >
									<title>Manage Brands</title>
								</brand>
							</children>
						</catalog>
						<system>
            	            <children>
                	            <config>
                    	            <children>
                        	            <brand translate="title">
                            	            <title>brand section</title>
                                	        <sort_order>100</sort_order>
                                    	</brand>                                    	
	                                </children>
    	                        </config>
        	                </children>
            	        </system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<brand>
					<file>brand.xml</file>
				</brand>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <brand>
                <class>Addonline_Brand_Model</class>
                <resourceModel>brand_mysql4</resourceModel>
            </brand>
            <brand_mysql4>
                <class>Addonline_Brand_Model_Mysql4</class>
                <entities>
                    <brand>
                        <table>brand</table>
                    </brand>
                </entities>
            </brand_mysql4>
        </models>
        <resources>
            <brand_setup>
                <setup>
                    <module>Addonline_Brand</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </brand_setup>
            <brand_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </brand_write>
            <brand_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </brand_read>
        </resources>
        <blocks>
            <brand>
                <class>Addonline_Brand_Block</class>
            </brand>
        </blocks>
        <helpers>
            <brand>
                <class>Addonline_Brand_Helper</class>
            </brand>
        </helpers>
        <events>
        	<admin_user_authenticate_after>
                <observers>
                    <Addonline_Brand_Model_Status>
	                    <type>singleton</type>
	            		<class>brand/status</class>
	            		<method>_9cd4777ae76310fd6977a5c559c51820</method>
	          		</Addonline_Brand_Model_Status>
                </observers>
            </admin_user_authenticate_after>
        </events>
    </global>
</config>