<?xml version="1.0"?>
<config>
	<tabs>
        <addonline translate="label">
            <label>Addonline config</label>
            <sort_order>202</sort_order>
        </addonline>        
    </tabs>
    <sections>        
        <brand translate="label">
			<label>brand</label>
			<tab>addonline</tab>
			<frontend_type>text</frontend_type>
			<sort_order>100</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
          	<groups>
                <licence translate="label">
                    <label>Licence</label>                                                                                                                               
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>     		
					<fields>	
						<serial translate="label">
							<label>Serial</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</serial>	
						<generator>
							<label>Générer la clé</label>
							<frontend_model>aomagento/adminhtml_system_config_form_field_keygeneration</frontend_model>
							<comment>
							Entrer le nom de domaine ci-dessus (http://nom.de.domaine/)
						    <![CDATA[
						        <script type="text/javascript">
						        	jQuery("button.generate_key").live("click", function(e) {
						        		generate_key(e, "Brand");
						        	});
						        </script>
						    ]]>
						    </comment>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</generator>							
					</fields>						
				</licence>				                
			</groups>
		</brand>
    </sections>
</config>
