<?xml version="1.0"?>
<config>
    <modules>
        <Addonline_GUATracker>
            <version>0.1.1</version>
        </Addonline_GUATracker>
    </modules>
    <global>
        <models>
            <guatracker>
                <class>Addonline_GUATracker_Model</class>
                <resourceModel>guatracker_mysql4</resourceModel>
            </guatracker>
            <guatracker_mysql4>
			     <class>Addonline_GUATracker_Model_Mysql4</class>
			     <entities>
			         <guaordersinfos>
			           <table>guatracker_ordersinfos</table>
			         </guaordersinfos>
			      </entities>
			</guatracker_mysql4>
            <sales>
                <rewrite>
                    <order>Addonline_GUATracker_Model_Order</order>
                </rewrite>
            </sales>
        </models>
        <resources>
            <guatracker_setup>
                <setup>
                    <module>Addonline_GUATracker</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </guatracker_setup>
            <guatracker_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </guatracker_write>
            <guatracker_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </guatracker_read>
        </resources>
        <blocks>
            <addonline_guatracker>
                <class>Addonline_GUATracker_Block</class>
            </addonline_guatracker>
        </blocks>
        <helpers>
            <addonline_guatracker>
                <class>Addonline_GUATracker_Helper</class>
            </addonline_guatracker>
        </helpers>
        <resources>
            <addonline_guatracker_setup>
                <setup>
                    <module>Addonline_GUATracker</module>
                </setup>
            </addonline_guatracker_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <guatracker module="Addonline_GUATracker">
                    <file>addonline_guatracker.xml</file>
                </guatracker>
            </updates>
        </layout>
        <events>
        	<checkout_type_onepage_save_order>
				<observers>
					<guatracker_observer>
						<type>singleton</type>
						<class>guatracker/observer</class>
						<method>saveGuaInfos</method>
					</guatracker_observer>
				</observers>
			</checkout_type_onepage_save_order>			
            <sales_order_status_change>
                <observers>
					<guatracker_observer>
						<type>singleton</type>
						<class>guatracker/observer</class>
						<method>sendGUAInfos</method>
					</guatracker_observer>
				</observers>
            </sales_order_status_change>        
        </events>
    </frontend>
    <adminhtml>
    	<events>
            <sales_order_status_change>
                <observers>
					<guatracker_observer>
						<type>singleton</type>
						<class>guatracker/observer</class>
						<method>sendGUAInfos</method>
					</guatracker_observer>
				</observers>
            </sales_order_status_change>        
        </events>
    </adminhtml>
    <default>   
    	<google>
    		<addonline_google_checkout_tracking>
    			<title_1>commander : souscripteur</title_1>
    			<page_1>/fin-de-l-etape-1</page_1>
    			<title_2>commander : bénéficiaire</title_2>
    			<page_2>/fin-de-l-etape-2</page_2>
    			<title_3>commander : mode de livraison</title_3>
    			<page_3>/fin-de-l-etape-3</page_3>
    			<title_4>commander : information de paiement</title_4>
    			<page_4>/fin-de-l-etape-4</page_4>
    			<title_5>commander : vérification de la commande</title_5>
    			<page_5>/fin-de-l-etape-5</page_5>
    		</addonline_google_checkout_tracking>
    	</google>     
    </default>    
</config>