<?xml version="1.0"?>
<!-- 
/**
 * Addonline_SoColissimoFlexibilite
 * 
 * @category    Addonline
 * @package     Addonline_SoColissimoFlexibilite
 * @copyright   Copyright (c) 2011 Addonline
 * @author 	    Addonline (http://www.Addonline.fr)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
	<sections>
		<carriers>
			<groups>
				<socolissimoflexibilite translate="label"  module="socolissimoflexibilite">
					<label>So Colissimo</label>
					<frontend_type>text</frontend_type>
					<sort_order>18</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<active translate="label">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</active>
						<title translate="label">
							<label>Title</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</title>
						<config translate="label">
							<label>Configuration</label>
							<comment>{configuration_syntax_help}</comment>
							<frontend_type>textarea</frontend_type>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</config>
						<tracking_view_url translate="label">
							<label>Tracking URL</label>
							<frontend_type>text</frontend_type>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</tracking_view_url>
						<display_when_unavailable>
							<label>Display when unavailable</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</display_when_unavailable>
						<stop_to_first_match translate="label">
							<label>Stop to first match</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>7</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</stop_to_first_match>
						<rdv_conditions translate="label comment">
							<label>Conditions Rendez-vous</label>
							<comment>Liste des codes postaux (séparés par des virgules) pour lesquels la prise de rendez-vous est possible</comment>
							<frontend_type>text</frontend_type>
							<sort_order>8</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</rdv_conditions>
						<rdv_fees translate="label comment">
							<label>Fees Rendez-vous</label>
							<comment>Surcôut de la prise de rendez-vous dans les frais de port</comment>
							<frontend_type>text</frontend_type>
							<sort_order>9</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</rdv_fees>
						<shipping_period translate="label comment">
							<label>Shipping period</label>
							<comment>Délai pour calculer les relais ouverts à la date de livraison = date du jour + délai</comment>
							<frontend_type>text</frontend_type>
							<sort_order>9</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</shipping_period>
						<id_socolissimo translate="label">
							<label>Identifiant Socolissmo</label>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</id_socolissimo>						
						<password_socolissimo translate="label">
							<label>Password Socolissmo</label>
							<frontend_type>text</frontend_type>
							<sort_order>11</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</password_socolissimo>						
						<domicile_signature translate="label">
							<label>Livrasion à domicile avec signature</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>12</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</domicile_signature>		
						<sort_order translate="label">
							<label>Sort order</label>
							<frontend_type>text</frontend_type>
							<sort_order>100</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</sort_order>
					</fields>
				</socolissimoflexibilite>
			</groups>
		</carriers>
	</sections>
</config>
