<?xml version="1.0"?>
<config>
    <sections>
        <catalog translate="label" module="catalog">
            <groups>
                <seo translate="label">
                    <fields>
                        <clean_urlrewrite_day translate="label">
                            <label>Supprimer les redirections plus anciennes de x jours</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><save_rewrites_history>1</save_rewrites_history></depends>
                        </clean_urlrewrite_day>
                    </fields>
                </seo>
            </groups>
        </catalog>
    </sections>
</config>
