<?xml version="1.0" ?>
<config>
    <modules>
        <Addonline_Catalog>
            <version>0.1.0</version>
        </Addonline_Catalog>
    </modules>
    <global>
        <blocks>
            <aocatalog><class>Addonline_Catalog_Block</class></aocatalog>
            <catalog>
	            <rewrite>
	            	<product_new>Addonline_Catalog_Block_Product_New</product_new>
	            	<product_widget_new>Addonline_Catalog_Block_Product_Widget_New</product_widget_new>
	            	<product_list_new>Addonline_Catalog_Block_Product_List_New</product_list_new>
	            	<product_view_attributes>Addonline_Catalog_Block_Product_View_Attributes</product_view_attributes>
	            </rewrite>
            </catalog>
        </blocks>
        <models>
		  <catalog>
		    <rewrite>
			  <!-- Plus utilisé : on passe par magmi
			  <convert_adapter_product>Addonline_Catalog_Model_Convert_Adapter_Product</convert_adapter_product>
			   -->
			</rewrite>
		  </catalog>
		  <catalog_resource>
		    <rewrite>
	          	<category_flat_collection>Addonline_Catalog_Model_Resource_Category_Flat_Collection</category_flat_collection>
	        </rewrite>
          </catalog_resource>
		</models>
		<helpers>
            <aocatalog><class>Addonline_Catalog_Helper</class></aocatalog>
		</helpers>
		<resources>
            <aocatalog_setup>
                <setup>
                    <module>Addonline_Catalog</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aocatalog_setup>
        </resources>
    </global>
    <frontend>
        <translate>
            <modules>
                <Addonline_Catalog>
                    <files>
                        <default>Mage_Catalog.csv</default>
                        <catalog>Addonline_Catalog.csv</catalog>
                    </files>
                </Addonline_Catalog>
            </modules>
        </translate>
<!--         <events> -->
<!--             <catalog_product_compare_add_product> -->
<!--                 <observers> -->
<!--                     <aocatalog> -->
<!--                         <type>singleton</type> -->
<!--                         <class>Addonline_Catalog_Model_Observer</class> -->
<!--                         <method>limitProductCompare</method> -->
<!--                     </aocatalog> -->
<!--                 </observers> -->
<!--             </catalog_product_compare_add_product> -->
<!--         </events> -->
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Addonline_Catalog>
                    <files>
                        <default>Mage_Catalog.csv</default>
                        <catalog>Addonline_Catalog.csv</catalog>
                    </files>
                </Addonline_Catalog>
            </modules>
        </translate>
    </adminhtml>
</config>
