<?xml version="1.0"?>
<config>
    <tabs>
<!--         <aocompare translate="label"> -->
<!--              <label>Addonline Compare</label> -->
<!--             <sort_order>210</sort_order> -->
<!--         </aocompare> -->
    </tabs>
    <sections>
        <catalog>
            <groups>
                <backend translate="label">
                    <label>Soldes</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
	                    <en_solde translate="label">
					    	<label>Solde</label>
		                    <frontend_type>select</frontend_type>
				            <sort_order>50</sort_order>
				             <source_model>adminhtml/system_config_source_yesno</source_model>
				            <show_in_default>1</show_in_default>
				            <show_in_website>1</show_in_website>
				            <show_in_store>1</show_in_store>
	                    </en_solde>
                    </fields>
                </backend>
            </groups>
        </catalog>
<!--         <aocompare translate="label"> -->
<!--             <label>Option Compare</label> -->
<!--             <tab>aocompare</tab> -->
<!--             <frontend_type>text</frontend_type> -->
<!--             <sort_order>1</sort_order> -->
<!--             <show_in_default>1</show_in_default> -->
<!--             <show_in_website>1</show_in_website> -->
<!--             <show_in_store>1</show_in_store> -->
<!--             <groups> -->
<!--                 <compare translate="label"> -->
<!--                     <label>Comparateur</label> -->
<!--                     <frontend_type>text</frontend_type> -->
<!--                     <sort_order>1</sort_order> -->
<!--                     <show_in_default>1</show_in_default> -->
<!--                     <show_in_website>1</show_in_website> -->
<!--                     <show_in_store>1</show_in_store>         -->
<!--                     <fields>   -->
<!--                         <limit translate="label"> -->
<!--                             <label>Limite de produits comparables</label> -->
<!--                             <frontend_type>text</frontend_type> -->
<!--                             <sort_order>1</sort_order> -->
<!--                             <show_in_default>1</show_in_default> -->
<!--                             <show_in_website>1</show_in_website> -->
<!--                             <show_in_store>1</show_in_store> -->
<!--                         </limit>   -->
<!--                     </fields>            -->
<!--                 </compare>     -->
<!--             </groups> -->
<!--         </aocompare> -->
    </sections>
</config>