.cart{
	
	h1{
		margin:20px 0 25px 0;
	}
	
	.btn-update{
		margin:34px 0 0 0;
		background:none;
		border:none;
		color:@c4;
		font-family:open_sanslight;
		font-size:14px;
		position:relative;
		padding:0 0 0 10px;
		
		&:before{
			content:"";
			display:block;
			position:absolute;
			top:3px;
			left:0;
			.arrow-right-primary();
		}
		
		&:hover{
			.hover();
		}
	}
	
}

.cart-table{
	
/* 	table-layout:auto; */
	
	thead{
		tr.last{
			th{
				text-transform:uppercase;
			}
		}
	}
	
	.product-name {
		margin:0 0 5px;
		color:@c4;
		
		a{
			text-decoration:none;
		}
	}
	
	td{
		padding:0 10px;
	}
	
	tr{
		td{
			&:first-child{
				width:72px;
				padding:0;
			}
			&:nth-child(2){
				width:430px;
			}
			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(6),
			&:nth-child(7){
				width:76px;
				text-align:center;
			}
			&:nth-child(5){
				width:84px;
			}
			&:nth-child(8){
				width:53px;
			}
		}
	}
	
	.qty{
		text-align: center;
		width:62px;
	}

}