.catalog-product-compare-index  {
	
	.main-container {
		position: relative;
		
		&:after {
			content: "";
			height: 1px;
			border-bottom: 1px solid @c4;
			position: absolute;
			top: 95px;
			left: 0;
			right: 0;
		}
	}
	
	.page-title {
		line-height: 95px;
		
		h1 {
			line-height: 95px;
		}
		
		.link-print, .link-empty-compare {
			.lnk-primary;
		}
		
		.link-empty-compare {
			margin-left: 40px;
			
			&:after {
				content: "";
				width: 1px;
				height: 20px;
				background: @c4;
				position: absolute;
				top: 0;
				left: -20px;
			}
		}
	}
}

/* Accès au comparateur à droite du fil d'Arianne */
.compare-link {
	text-decoration: none;
	float: right;
	margin-top: -35px;
	position: relative;
	z-index: 1;
	
	.link {
		text-decoration: underline;
	}
	
	.count {
		color: @c2;
	}
}
	/* ce lien est caché sur la page comparateur */
	.catalog-product-compare-index .compare-link {
		display: none;
	}
	/* ainsi que le fil d'Arianne */
	.catalog-product-compare-index .breadcrumbs-container {
		display: none;
	}

/* La liste */
#product_comparison {
	border-spacing: 10px;
	width: 100%;
	margin-top: 20px;
	
	th {
		text-align: right;
	}
	
	td {
		text-align: center;
		padding: 0 0 8px 0;
		width: 185px;
		border-bottom: 1px solid @c4;
		
		&.empty {
			border-bottom: none;
		}
	}
	
	.add-to-row td,
	.remove-row td {
		border: none;
		padding-bottom: 0;
	}
	
	.btn-remove {
		float: right;
		margin-bottom: 10px;
		margin-right: 10px;
	}
	
	.btn-cart {
		.primary-button;
		margin: 20px auto 0 auto;
		width: 164px;
	}
	
	.product-image { display:block; margin:0 0 10px; clear: both; }
	.product-name {
		margin: 0 0 5px;
		height: 43px;
		overflow: hidden;
		a {
			font-family: open_sansbold;
			font-size: 16px;
			text-decoration: none;
			color: @c3;
		} 
	}

	.price-box {
		height: 50px;
	}
	
	.percentage {
		top: 10px;
		right: 20px;
	}
}