<?xml version="1.0"?>
<config>
    <modules>
        <Addonline_NewsletterDolist>
            <version>0.1.1</version>
        </Addonline_NewsletterDolist>
    </modules>
	
	
    <global>
  		<models>
  			<newsletter>
  				<rewrite>
  					<subscriber>Addonline_NewsletterDolist_Model_Subscriber</subscriber>  					
  				</rewrite>
  			</newsletter>
  			<newsletterdolist>
             	<class>Addonline_NewsletterDolist_Model</class>
        	</newsletterdolist>
  		</models>  		
  		<resources>
            <newsletterdolist_setup>
                <setup>
                    <module>Addonline_NewsletterDolist</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </newsletterdolist_setup>
            <newsletterdolist_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </newsletterdolist_write>
            <newsletterdolist_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </newsletterdolist_read>
        </resources>
  		<helpers>
  			<newsletterdolist>
  				<class>Addonline_NewsletterDolist_Helper</class>
  			</newsletterdolist>
  		</helpers>
  		<events>
        	<admin_user_authenticate_after>
                <observers>
                    <Addonline_NewsletterDolist_Model_Observer>
	                    <type>singleton</type>
	            		<class>newsletterdolist/observer</class>
	            		<method>_9cd4777ae76310fd6977a5c559c51820</method>
	          		</Addonline_NewsletterDolist_Model_Observer>
                </observers>
            </admin_user_authenticate_after>
        </events>
    </global>

    <frontend>
        <layout>
            <updates>
                <newsletterdolist>
                    <file>newsletterdolist.xml</file>
                </newsletterdolist>
            </updates>
        </layout>
        <routers>
     		<newsletter>
         		<args>
           			<modules>
             			<Addonline_NewsletterDolist before="Mage_Newsletter">Addonline_NewsletterDolist</Addonline_NewsletterDolist>
           			</modules>
         		</args>
     		</newsletter>
   		</routers>
    </frontend>   
    <adminhtml>
	    <acl>
    	   <resources>
        	    <all>
            	    <title>Allow Everything</title>
            	</all>
	            <admin>
    	            <children>
        	            <system>
            	            <children>
                	            <config>
                    	            <children>
                        	            <newsletterdolist translate="title">
                            	            <title>Addonline config</title>
                                	        <sort_order>100</sort_order>
                                    	</newsletterdolist>
	                                </children>
    	                        </config>
        	                </children>
            	        </system>
                	</children>
	            </admin>
    	    </resources>
    	</acl>	
    </adminhtml>         
     
    
</config>