<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Addonline_Sales>
            <version>0.1.0</version>
        </Addonline_Sales>
    </modules>
    <global>
    	<models>
    		<sales>
    			<rewrite>
    				<order_config>Addonline_Sales_Model_Order_Config</order_config>
    			</rewrite>
    		</sales>
    	</models>
    </global>
</config>