<?xml version="1.0"?>
<config>
    <modules>
        <Addonline_GiftProduct>
            <version>0.0.1</version>
        </Addonline_GiftProduct>
    </modules>
 	<global>
 		<blocks>
            <adminhtml>
                <rewrite>
            		<promo_quote_edit_tab_actions>Addonline_GiftProduct_Block_Adminhtml_Promo_Quote_Edit_Tab_Actions</promo_quote_edit_tab_actions>
            	</rewrite>
            </adminhtml>
            <checkout>
                <rewrite>
                    <cart_giftproduct>Addonline_GiftProduct_Block_Checkout_Cart_GiftProduct</cart_giftproduct>
                </rewrite>
            </checkout>
 		</blocks>
 		<models>
        	<salesrule>
        		<rewrite>
        			<validator>Addonline_GiftProduct_Model_SalesRule_Validator</validator>
        			<quote_discount>Addonline_GiftProduct_Model_SalesRule_Quote_Discount</quote_discount>
        		</rewrite>
        	</salesrule>
 		</models>
 	</global>
    <frontend>
    	<layout>
            <updates>
                <giftproduct module="Addonline_GiftProduct">
                    <file>giftproduct.xml</file>
                </giftproduct>
            </updates>
        </layout>
        <translate>
            <modules>
                <Addonline_GiftProduct>
                    <files>
                        <default>Addonline_GiftProduct.csv</default>
                    </files>
                </Addonline_GiftProduct>
            </modules>
        </translate>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <Addonline_GiftProduct before="Mage_Checkout">Addonline_GiftProduct</Addonline_GiftProduct>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Addonline_GiftProduct>
                    <files>
                        <default>Addonline_GiftProduct.csv</default>
                    </files>
                </Addonline_GiftProduct>
            </modules>
        </translate>    
    </adminhtml>

</config>