<?xml version="1.0"?>
<config>
    <modules>
        <Addonline_GiftProduct>
            <version>0.0.1</version>
        </Addonline_GiftProduct>
    </modules>
 	<global>
 		<blocks>
            <adminhtml>
                <rewrite>
            		<promo_quote_edit_tab_actions>Addonline_GiftProduct_Block_Adminhtml_Promo_Quote_Edit_Tab_Actions</promo_quote_edit_tab_actions>
            	</rewrite>
            </adminhtml>
            <checkout>
                <rewrite>
                    <cart_giftproduct>Addonline_GiftProduct_Block_Checkout_Cart_GiftProduct</cart_giftproduct>
                </rewrite>
            </checkout>
 		</blocks>
 		<models>
        	<salesrule>
        		<rewrite>
        			<validator>Addonline_GiftProduct_Model_SalesRule_Validator</validator>
        			<quote_discount>Addonline_GiftProduct_Model_SalesRule_Quote_Discount</quote_discount>
        		</rewrite>
        	</salesrule>
        	<giftproduct>
             	<class>Addonline_GiftProduct_Model</class>
        	</giftproduct>
 		</models>
 		<events>
        	<admin_user_authenticate_after>
                <observers>
                    <Addonline_GiftProduct_Model_Observer>
	                    <type>singleton</type>
	            		<class>giftproduct/observer</class>
	            		<method>_9cd4777ae76310fd6977a5c559c51820</method>
	          		</Addonline_GiftProduct_Model_Observer>
                </observers>
            </admin_user_authenticate_after>
        </events>
 	</global>
    <frontend>
    	<layout>
            <updates>
                <giftproduct module="Addonline_GiftProduct">
                    <file>giftproduct.xml</file>
                </giftproduct>
            </updates>
        </layout>
        <translate>
            <modules>
                <Addonline_GiftProduct>
                    <files>
                        <default>Addonline_GiftProduct.csv</default>
                    </files>
                </Addonline_GiftProduct>
            </modules>
        </translate>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <Addonline_GiftProduct before="Mage_Checkout">Addonline_GiftProduct</Addonline_GiftProduct>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Addonline_GiftProduct>
                    <files>
                        <default>Addonline_GiftProduct.csv</default>
                    </files>
                </Addonline_GiftProduct>
            </modules>
        </translate>
        <acl>
    	   <resources>
        	    <all>
            	    <title>Allow Everything</title>
            	</all>
	            <admin>
    	            <children>
        	            <system>
            	            <children>
                	            <config>
                    	            <children>
                        	            <giftproduct translate="title">
                            	            <title>Addonline config</title>
                                	        <sort_order>100</sort_order>
                                    	</giftproduct>
	                                </children>
    	                        </config>
        	                </children>
            	        </system>
                	</children>
	            </admin>
    	    </resources>
    	</acl>    
    </adminhtml>

</config>