<?xml version="1.0"?>
<config>
	<tabs>
        <addonline translate="label">
            <label>Addonline config</label>
            <sort_order>202</sort_order>
        </addonline>        
    </tabs>
    <sections>
        <giftproduct translate="label">
			<label>giftproduct</label>
			<tab>addonline</tab>
			<frontend_type>text</frontend_type>
			<sort_order>100</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
          	<groups>
                <licence translate="label">
                    <label>Licence</label>                                                                                                                               
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>     		
					<fields>	
						<serial translate="label">
							<label>Serial</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</serial>		
						<generator>
							<label>Générer la clé</label>
							<frontend_model>aomagento/adminhtml_system_config_form_field_keygeneration</frontend_model>
							<comment>
							Entrer le nom de domaine ci-dessus
						    <![CDATA[
						        <script type="text/javascript">
						        	var module_name = $$('.content-header h3').first().innerHTML;
						        	var is_aomagento = $("is_aomagento").getValue();
						        	if(is_aomagento == 0) {
						        		$("row_"+module_name+"_licence_generator").hide();
						        	} else {
						        		$("row_"+module_name+"_licence_generator").show();
						        	}
						        	
						            Event.observe('generate_key', 'click', function() {
						        		var hostname = $("hostname").getValue();
						                new Ajax.Request('/aomagento/generation/getlicence', {
											method:'get',
											parameters : {hostname : hostname, module: "GiftProduct"},
											onSuccess: function(data) {
												$("key_generated").update(data.responseText);
											}
										});
						            })
						        </script>
						    ]]>
						    </comment>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</generator>						
					</fields>						
				</licence>			                
			</groups>
		</giftproduct>
    </sections>
</config>
