<!--@subject {{var store.getFrontendName()}}: Conditions générales de ventes @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var order.increment_id":"Order Id",
"var order.getCreatedAtFormated('long')":"Order Created At (datetime)",
"var order.getBillingAddress().format('html')":"Billing Address",
"var payment_html":"Payment Details",
"var order.getShippingAddress().format('html')":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description",
"layout handle=\"sales_email_order_items\" order=$order":"Order Items Grid",
"var order.getEmailCustomerNote()":"Email Order Note"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F0F0F0; font-family:Arial, Verdana, Helvetica, sans-serif; font-size:12px; margin:0; padding:0; color:#939393 !important;">
<div style="background:#F0F0F0; font-family:Arial, Verdana, Helvetica, sans-serif; font-size:12px; margin:0; padding:0; color:#939393 !important;">
	<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #fff;">
            <!-- [ header starts here] -->
            <tr>
                        <td valign="top" style="padding:20px;border-bottom:1px solid #d4d4d4;">
                            <a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a>
                        </td>
                    </tr>
                    <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top" style="padding:20px 0;">
                        
                        <div style="padding:0 20px;">
                    		{{var cgv_html}}
                    	</div>
                </td>
            </tr>
            <tr>
                        <td bgcolor="#fff" style="background:#fff;padding:0;">
                        	<p style="font-size:12px; margin:0; border-top:1px solid #d4d4d4; padding:20px 20px 40px 20px;">
                          		<a href="{{store url=""}}" style="color:#939393;">Accueil {{var store.getFrontendName()}}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{store url='customer/account/'}}" style="color:#939393;">Votre compte client</a>
                        	</p>
                       	</td>
                    </tr>
        </table>
    </td>
</tr>
</table>
</div>
</body>