.scrollable {
	position: relative;
	overflow: hidden;
	width: 684px;
	height: 300px;
	margin: 0 0 30px 0;
}

.scrollable .items {
	width: 20000em;
	position: absolute;
}

.scrollable .items > div {
	float: left;
	position: relative;
}

.scrollable .product > div {
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid;
	border-color: #e9e9e9 #e9e9e9 #dcdcdc #dcdcdc;
	width: 100%;
	height: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.scrollable .product .product-image,
.scrollable .product .product-name,
.scrollable .product .price-box,
.scrollable .product .desc {
	float: left;	
}

.scrollable .product .product-image {
	margin: 18px 0 0 18px;	
}

.scrollable .product .product-name {
	font-size: 16px;
	font-weight: bold;
	margin: 18px 0 0 20px;
	width: 375px;
}

.scrollable .product .price-box,
.scrollable .product .desc {
	margin: 20px 0 0 20px;	
}

.scrollable .product .desc {
	width: 375px;
}

.scrollable .next,
.scrollable .prev,
.scrollable .navi {
	display: none;	
}