.scrollable {
	position: relative;
	overflow: hidden;
	width: 684px;
	height: 300px;
	margin: 0 0 30px 0;
}

.scrollable .items {
	width: 20000em;
	position: absolute;
}

.items div {
	float: left;
}