@CHARSET "ISO-8859-1";
/* Brands */
.div_brand {border: 1px solid black; float: left; width: 150px; height: 300px; margin: 5px; }
	.div_brand .name_brand {display: block; background-color: #ddd; height: 35px; padding: 5px 0 0 5px; }
	.div_brand img {margin: 0 auto; }
	