@media screen and (max-width: 650px) {
  .jetcheckout-onepage-index .col-left {
    /*float: none;
			width: 630px;
			margin: auto;*/
  }
  .jetcheckout-onepage-index .col-main {
    /*float: none;
			margin: auto;*/
  }
  /* order review */
}
