/***************/
/* SOCOLISSIMO */

.layer {
  position: relative;
  z-index: 9;
  display: none;
  width: 649px;
  border: 3px solid #fff;
  background: #e9e9e9;
}

.layer > div > div {
  overflow: auto;
}

.layer .loading {
	padding-top : 45px;
	min-height: 100px;
	overflow: auto;
	text-align: center;
}

.layer img.close {
  position: absolute;
  top: 7px;
  right: 13px;
  cursor: pointer;
}

#socolissimoliberte {
	width: 223px !important;	
}
#socolissimoliberte img{
	vertical-align:middle;	
}

#socolissimo-location {
	background: #e9e9e9;
	padding: 10px 0;
	margin: 15px 0 0 0;
	
}

#socolissimo-location > div {
	background: url(../images/socolissimo/socolissimo_sep.gif) repeat-y 50% 0;
	overflow: auto;
	padding: 0 10px;
}

#socolissimo-location dl {
	float: left;
	width: 45%;
	overflow: hidden !important;
}

#socolissimo-location dt {
	color: #cc3333;
	font-size: 14px;
	font-weight: bold;
	display: block !important;
	margin: 0 0 10px 0;
}

#socolissimo-location dd {
	color: #3b3836;
	background: url(../images/socolissimo/picto_chez-vous.png) no-repeat 25px 5px;
	margin: 0 0 15px 0;
	padding: 10px 0 0 0;
}

#socolissimo-location dt span {
	display: block;
	font-size: 11px;
	color: #000;
	font-weight: normal;	
}

#socolissimo-location dd.rendez-vous {
	background-image: url(../images/socolissimo/picto_rendez-vous.png);
}

#socolissimo-location dd.cityssimo {
	background-image: url(../images/socolissimo/picto_cityssimo.png);
}

#socolissimo-location dd.poste {
	background-image: url(../images/socolissimo/picto_poste.png);
}

#socolissimo-location dd.commercant {
	background-image: url(../images/socolissimo/picto_commercant.png);
}


#socolissimo-location label {
	padding: 0 0 0 60px;
	display: block;
	position: relative;
	font-size: 11px !important;
	cursor: pointer;
	color: #3b3836 !important;
    font-weight: normal;
}

#socolissimo-location label span {
	font-weight: bold;
	display: block;
}

#socolissimo-location label .price, #socolissimo-location label .decimal, #socolissimo-location label .devise {
	display: inline;	
}

#socolissimo-location label input {
	position: absolute;
	top: 0;
	left: 0;
}

#socolissimo-location .portable {
    background: none repeat scroll 0 0 #CCCCCC;
    border: 2px solid #C6C6C6;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
    margin: 10px 10px 0;
    padding: 10px;
    overflow: auto;
}

#socolissimo-location .portable span {
	float: left;
	font-weight: normal;
	width: 557px;	
}

#socolissimo-location .portable input {
	width: 20%;
	left: auto;
	right: 3px;
	top: 27px;
}

.checkout-onepage-success .socolissimo_logo_type {
	vertical-align: middle;
	margin: 0 0 0 15px;	
}

#layer_socolissimo {
	width: 885px;
	z-index: 1000;
}

#layer_socolissimo > div > div {
	padding: 15px;	
}

#layer_socolissimo form {
	width: 100%;
}

#layer_socolissimo .contenu {
	background: #fff;
	color: #3b3836;
	font-size: 11px;
	font-weight: normal;
	padding: 12px 0 12px 14px;
	margin-bottom: 15px;
	overflow: auto;
}
#layer_socolissimo input, #layer_socolissimo select {
	font-size: 12px;
}
#layer_socolissimo .col1, #layer_socolissimo .col2 {
	width: 406px;
	float: left;
	height: 185px;
}
#layer_socolissimo .col1 b, #layer_socolissimo .col2 b {
	color: #645258;
}
#layer_socolissimo .col1 {
	border-right: 1px solid #d1cdcd;
}
#layer_socolissimo .ligne1 {
	border-bottom: 1px solid #dcd4cf;
	padding-bottom: 15px;
	margin: 0 14px 0 0;
	background: url(../images/socolissimo/bg.png) 0px 57px no-repeat;
}
#layer_socolissimo .col2 {
	border-left: 1px solid #ffffff;
	padding-left: 16px;
}
#layer_socolissimo .ligne2 {
	border-top: 1px solid #ffffff;
	padding: 5px 0 0 0;
}
#layer_socolissimo .titre {
	color: #cc3333;
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
}
#layer_socolissimo .titre1 {
	float: left;
}
#layer_socolissimo .titre2 {
	float: right;
	margin-top: 10px;
}
#layer_socolissimo .titres {
	width: 100%;
	overflow: hidden;
	*margin-bottom: 15px;
}
#layer_socolissimo .ligne2 .choix {
	margin-left: 60px;
}
#layer_socolissimo .ligne2 .choix1 {
	margin-left: 0;
}
#layer_socolissimo .choix {
	float: left;
}
#layer_socolissimo .ligne2 input {
	margin: 6px 0 0 0;	
}
#layer_socolissimo .choix img {
	float: left;
	margin-left: 5px;
	margin-top: -3px;
	margin-right: 8px;
}
#layer_socolissimo .choix .txt {
	float: left;
	width: 270px;
}
#layer_socolissimo .choix .txt2 {
	float: left;
	width: 160px;
	padding: 6px 0 0 44px;
	background: url(../images/socolissimo/picto_commercant.png) no-repeat 10px 0;
	text-align: left;
}
#layer_socolissimo .choix2 .txt2 {
	background-image: url(../images/socolissimo/picto_poste.png);
}
#layer_socolissimo .choix3 .txt2 {
	background-image: url(../images/socolissimo/picto_cityssimo.png);
}
#layer_socolissimo .choix .txt2 b {
	color: #645258;
}
#layer_socolissimo .col2 .choix .txt {
	width: 330px;
}
#layer_socolissimo input {
	float: left;
	background: #fff;
}
#layer_socolissimo a.valide {
	margin-top: 12px;
	margin-left: 404px;
}
#layer_socolissimo .ligne1 .titre, #layer_socolissimo .ligne2 .titre {
	margin-bottom: 15px;
	text-align: left;
}
#layer_socolissimo input.adresse {
	float: left;
	width: 239px;
	border: 1px solid #b8acaf;
	line-height: 19px;
	height: 19px;
	padding: 0;
	padding-left: 9px;
	color: #3b3836;
	*margin-left: -48px;
}
#layer_socolissimo input.cp {
	width: 73px;
	border: 1px solid #b8acaf;
	line-height: 19px;
	height: 19px;
	float: left;
	padding: 0;
	padding-left: 9px;
	color: #54343f;
	*margin-left: -8px;
}
#layer_socolissimo select {
	background: none;
	border: none;
	opacity: 0;
	filter: alpha(opacity=0);
	position: absolute;
	top: 0;
	left: 0;
	width: 237px;
	font-size: 12px;
	color: #54343f;
}
#layer_socolissimo option {
	background-color: #FFFFFF;
	color: #54343f;
	padding-left: 9px;
}
#layer_socolissimo .select {
	float: left;
	position: relative;
}
#layer_socolissimo .select span {
	background: url(../images/socolissimo/bg_select.gif) no-repeat;
	display: block;
	width: 228px;
	height: 21px;
	color: #54343f;
	line-height: 21px;
	padding-left: 9px;
}
#layer_socolissimo label {
	float: left;
	line-height: 18px;
	height: 18px;
	*width: 100%;
}
#layer_socolissimo .col {
	float: left;
}
#layer_socolissimo .col.adresse {
	width: 251px;
	margin-left: 48px;
}
#layer_socolissimo .col.cp {
	width: 84px;
	margin-left: 8px;
}
#layer_socolissimo .col.commune {
	width: 237px;
	margin-left: 8px;
}
#layer_socolissimo .obli {
	color: #ff0056;
	font-size: 11px;
}
#btn_modifierAdresse {
	margin: 18px 0 0 10px;
}
#layer_socolissimo .colgauche, #layer_socolissimo .coldroite {
	float: left;
}
#layer_socolissimo .adresses {
	clear: both;
	height: 424px;
	background: #fff;
	position: relative;
}

#layer_socolissimo .liste {
	color: #3B3836;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 424px;
	overflow-y: scroll;
}
#layer_socolissimo .colgauche {
	width: 265px;
}
#layer_socolissimo .coldroite {
	width: 590px;
	height: 424px;
}
#layer_socolissimo .point_retrait {
	border-bottom: 1px dotted #54343F;
	float: left;
	margin: 0 7px;
	padding-bottom: 12px;
	width: 235px;
	*width: 230px;
	margin-top: 10px;
}
#layer_socolissimo .point_retrait .distance {
	font-size: 11px;
	color: #3b3836;
	float: left;
	line-height: 26px;
}
#layer_socolissimo .adresse_point {
	text-align: right;
	clear: both;
	padding: 7px 0 0 0;
	margin: 0 0 12px 0;
}
#layer_socolissimo .point {
	font-weight: bold;
	line-height: 26px;
	float: right;
	font-size: 11px;
	padding: 0 0 0 30px;
	background: url(../images/socolissimo/picto_commercant.png) no-repeat;
}
#layer_socolissimo .handicap {
	clear: both;
	float: right;	
}
#layer_socolissimo .point.poste {
	background-image: url(../images/socolissimo/picto_poste.png);
}
#layer_socolissimo .point.cityssimo {
	background-image: url(../images/socolissimo/picto_cityssimo.png);
}
#layer_socolissimo .btn_socolissimoChoisir {
	height: 20px;
	background-repeat: no-repeat;
	float: right;
}

#layer_socolissimo .close {
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
	background: #dcdcdc;
	border: 1px solid #666666;
	color: #666666;
	padding: 0 5px;
	font-size: 10px;
	text-decoration: none;
	text-transform: uppercase;
}

#layer_socolissimo .close:hover {
	background: #666666;
	border: 1px solid #dcdcdc;
	color: #dcdcdc;
}

#layer_socolissimo h3 {
	font-size: 16px;
	font-weight: bold;
	color: #cc3333;
	text-transform: uppercase;
	margin: 0 0 11px 0;
}

#layer_socolissimo .loader-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
}

#layer_socolissimo .loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: #000;
	opacity: 0.2;
}

#layer_socolissimo .loader-wheel {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -50px 0 0 -16px;
	width: 100px;
	background: #fff;
	border: 1px solid 000;
	border-radius: 3px;
	text-align: center;
	z-index: 1001;
	color: #878787;
	font-style: italic;
}

#layer_socolissimo .loader-wheel img {
	display: block;
	margin: auto;
}