/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$arrow-left-primary-name: 'arrow-left-primary';
$arrow-left-primary-x: 0px;
$arrow-left-primary-y: 10px;
$arrow-left-primary-offset-x: 0px;
$arrow-left-primary-offset-y: -10px;
$arrow-left-primary-width: 5px;
$arrow-left-primary-height: 9px;
$arrow-left-primary-total-width: 960px;
$arrow-left-primary-total-height: 887px;
$arrow-left-primary-image: '../images/client/sprites/spritesheet.png';
$arrow-left-primary: (0px, 10px, 0px, -10px, 5px, 9px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'arrow-left-primary' );
$arrow-right-empty-name: 'arrow-right-empty';
$arrow-right-empty-x: 0px;
$arrow-right-empty-y: 55px;
$arrow-right-empty-offset-x: 0px;
$arrow-right-empty-offset-y: -55px;
$arrow-right-empty-width: 5px;
$arrow-right-empty-height: 9px;
$arrow-right-empty-total-width: 960px;
$arrow-right-empty-total-height: 887px;
$arrow-right-empty-image: '../images/client/sprites/spritesheet.png';
$arrow-right-empty: (0px, 55px, 0px, -55px, 5px, 9px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'arrow-right-empty' );
$arrow-right-primary-name: 'arrow-right-primary';
$arrow-right-primary-x: 0px;
$arrow-right-primary-y: 64px;
$arrow-right-primary-offset-x: 0px;
$arrow-right-primary-offset-y: -64px;
$arrow-right-primary-width: 5px;
$arrow-right-primary-height: 9px;
$arrow-right-primary-total-width: 960px;
$arrow-right-primary-total-height: 887px;
$arrow-right-primary-image: '../images/client/sprites/spritesheet.png';
$arrow-right-primary: (0px, 64px, 0px, -64px, 5px, 9px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'arrow-right-primary' );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 0px;
$arrow-right-y: 19px;
$arrow-right-offset-x: 0px;
$arrow-right-offset-y: -19px;
$arrow-right-width: 5px;
$arrow-right-height: 9px;
$arrow-right-total-width: 960px;
$arrow-right-total-height: 887px;
$arrow-right-image: '../images/client/sprites/spritesheet.png';
$arrow-right: (0px, 19px, 0px, -19px, 5px, 9px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'arrow-right' );
$bxslider-next-name: 'bxslider-next';
$bxslider-next-x: 0px;
$bxslider-next-y: 533px;
$bxslider-next-offset-x: 0px;
$bxslider-next-offset-y: -533px;
$bxslider-next-width: 31px;
$bxslider-next-height: 31px;
$bxslider-next-total-width: 960px;
$bxslider-next-total-height: 887px;
$bxslider-next-image: '../images/client/sprites/spritesheet.png';
$bxslider-next: (0px, 533px, 0px, -533px, 31px, 31px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'bxslider-next' );
$bxslider-prev-name: 'bxslider-prev';
$bxslider-prev-x: 0px;
$bxslider-prev-y: 564px;
$bxslider-prev-offset-x: 0px;
$bxslider-prev-offset-y: -564px;
$bxslider-prev-width: 31px;
$bxslider-prev-height: 31px;
$bxslider-prev-total-width: 960px;
$bxslider-prev-total-height: 887px;
$bxslider-prev-image: '../images/client/sprites/spritesheet.png';
$bxslider-prev: (0px, 564px, 0px, -564px, 31px, 31px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'bxslider-prev' );
$close-name: 'close';
$close-x: 0px;
$close-y: 114px;
$close-offset-x: 0px;
$close-offset-y: -114px;
$close-width: 12px;
$close-height: 12px;
$close-total-width: 960px;
$close-total-height: 887px;
$close-image: '../images/client/sprites/spritesheet.png';
$close: (0px, 114px, 0px, -114px, 12px, 12px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'close' );
$etoile-off-name: 'etoile-off';
$etoile-off-x: 0px;
$etoile-off-y: 430px;
$etoile-off-offset-x: 0px;
$etoile-off-offset-y: -430px;
$etoile-off-width: 24px;
$etoile-off-height: 24px;
$etoile-off-total-width: 960px;
$etoile-off-total-height: 887px;
$etoile-off-image: '../images/client/sprites/spritesheet.png';
$etoile-off: (0px, 430px, 0px, -430px, 24px, 24px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'etoile-off' );
$etoile-on-name: 'etoile-on';
$etoile-on-x: 0px;
$etoile-on-y: 454px;
$etoile-on-offset-x: 0px;
$etoile-on-offset-y: -454px;
$etoile-on-width: 24px;
$etoile-on-height: 24px;
$etoile-on-total-width: 960px;
$etoile-on-total-height: 887px;
$etoile-on-image: '../images/client/sprites/spritesheet.png';
$etoile-on: (0px, 454px, 0px, -454px, 24px, 24px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'etoile-on' );
$footer-bloc-ombre-name: 'footer-bloc-ombre';
$footer-bloc-ombre-x: 0px;
$footer-bloc-ombre-y: 73px;
$footer-bloc-ombre-offset-x: 0px;
$footer-bloc-ombre-offset-y: -73px;
$footer-bloc-ombre-width: 308px;
$footer-bloc-ombre-height: 10px;
$footer-bloc-ombre-total-width: 960px;
$footer-bloc-ombre-total-height: 887px;
$footer-bloc-ombre-image: '../images/client/sprites/spritesheet.png';
$footer-bloc-ombre: (0px, 73px, 0px, -73px, 308px, 10px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'footer-bloc-ombre' );
$form-search-button-name: 'form-search-button';
$form-search-button-x: 0px;
$form-search-button-y: 628px;
$form-search-button-offset-x: 0px;
$form-search-button-offset-y: -628px;
$form-search-button-width: 46px;
$form-search-button-height: 38px;
$form-search-button-total-width: 960px;
$form-search-button-total-height: 887px;
$form-search-button-image: '../images/client/sprites/spritesheet.png';
$form-search-button: (0px, 628px, 0px, -628px, 46px, 38px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'form-search-button' );
$grille-name: 'grille';
$grille-x: 0px;
$grille-y: 251px;
$grille-offset-x: 0px;
$grille-offset-y: -251px;
$grille-width: 19px;
$grille-height: 19px;
$grille-total-width: 960px;
$grille-total-height: 887px;
$grille-image: '../images/client/sprites/spritesheet.png';
$grille: (0px, 251px, 0px, -251px, 19px, 19px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'grille' );
$liste-name: 'liste';
$liste-x: 0px;
$liste-y: 270px;
$liste-offset-x: 0px;
$liste-offset-y: -270px;
$liste-width: 26px;
$liste-height: 19px;
$liste-total-width: 960px;
$liste-total-height: 887px;
$liste-image: '../images/client/sprites/spritesheet.png';
$liste: (0px, 270px, 0px, -270px, 26px, 19px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'liste' );
$logo-client-header-name: 'logo-client-header';
$logo-client-header-x: 0px;
$logo-client-header-y: 708px;
$logo-client-header-offset-x: 0px;
$logo-client-header-offset-y: -708px;
$logo-client-header-width: 194px;
$logo-client-header-height: 51px;
$logo-client-header-total-width: 960px;
$logo-client-header-total-height: 887px;
$logo-client-header-image: '../images/client/sprites/spritesheet.png';
$logo-client-header: (0px, 708px, 0px, -708px, 194px, 51px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'logo-client-header' );
$more-views-next-name: 'more-views-next';
$more-views-next-x: 0px;
$more-views-next-y: 329px;
$more-views-next-offset-x: 0px;
$more-views-next-offset-y: -329px;
$more-views-next-width: 14px;
$more-views-next-height: 20px;
$more-views-next-total-width: 960px;
$more-views-next-total-height: 887px;
$more-views-next-image: '../images/client/sprites/spritesheet.png';
$more-views-next: (0px, 329px, 0px, -329px, 14px, 20px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'more-views-next' );
$more-views-prev-name: 'more-views-prev';
$more-views-prev-x: 0px;
$more-views-prev-y: 369px;
$more-views-prev-offset-x: 0px;
$more-views-prev-offset-y: -369px;
$more-views-prev-width: 14px;
$more-views-prev-height: 20px;
$more-views-prev-total-width: 960px;
$more-views-prev-total-height: 887px;
$more-views-prev-image: '../images/client/sprites/spritesheet.png';
$more-views-prev: (0px, 369px, 0px, -369px, 14px, 20px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'more-views-prev' );
$new-fr-name: 'new-fr';
$new-fr-x: 0px;
$new-fr-y: 814px;
$new-fr-offset-x: 0px;
$new-fr-offset-y: -814px;
$new-fr-width: 129px;
$new-fr-height: 73px;
$new-fr-total-width: 960px;
$new-fr-total-height: 887px;
$new-fr-image: '../images/client/sprites/spritesheet.png';
$new-fr: (0px, 814px, 0px, -814px, 129px, 73px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'new-fr' );
$ombre-menu-name: 'ombre-menu';
$ombre-menu-x: 0px;
$ombre-menu-y: 309px;
$ombre-menu-offset-x: 0px;
$ombre-menu-offset-y: -309px;
$ombre-menu-width: 960px;
$ombre-menu-height: 20px;
$ombre-menu-total-width: 960px;
$ombre-menu-total-height: 887px;
$ombre-menu-image: '../images/client/sprites/spritesheet.png';
$ombre-menu: (0px, 309px, 0px, -309px, 960px, 20px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'ombre-menu' );
$page-next-name: 'page-next';
$page-next-x: 0px;
$page-next-y: 218px;
$page-next-offset-x: 0px;
$page-next-offset-y: -218px;
$page-next-width: 8px;
$page-next-height: 15px;
$page-next-total-width: 960px;
$page-next-total-height: 887px;
$page-next-image: '../images/client/sprites/spritesheet.png';
$page-next: (0px, 218px, 0px, -218px, 8px, 15px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'page-next' );
$page-prev-name: 'page-prev';
$page-prev-x: 0px;
$page-prev-y: 203px;
$page-prev-offset-x: 0px;
$page-prev-offset-y: -203px;
$page-prev-width: 8px;
$page-prev-height: 15px;
$page-prev-total-width: 960px;
$page-prev-total-height: 887px;
$page-prev-image: '../images/client/sprites/spritesheet.png';
$page-prev: (0px, 203px, 0px, -203px, 8px, 15px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'page-prev' );
$picto-account-name: 'picto-account';
$picto-account-x: 0px;
$picto-account-y: 138px;
$picto-account-offset-x: 0px;
$picto-account-offset-y: -138px;
$picto-account-width: 13px;
$picto-account-height: 13px;
$picto-account-total-width: 960px;
$picto-account-total-height: 887px;
$picto-account-image: '../images/client/sprites/spritesheet.png';
$picto-account: (0px, 138px, 0px, -138px, 13px, 13px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'picto-account' );
$picto-asc-name: 'picto-asc';
$picto-asc-x: 0px;
$picto-asc-y: 5px;
$picto-asc-offset-x: 0px;
$picto-asc-offset-y: -5px;
$picto-asc-width: 9px;
$picto-asc-height: 5px;
$picto-asc-total-width: 960px;
$picto-asc-total-height: 887px;
$picto-asc-image: '../images/client/sprites/spritesheet.png';
$picto-asc: (0px, 5px, 0px, -5px, 9px, 5px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'picto-asc' );
$picto-cart-header-name: 'picto-cart-header';
$picto-cart-header-x: 0px;
$picto-cart-header-y: 666px;
$picto-cart-header-offset-x: 0px;
$picto-cart-header-offset-y: -666px;
$picto-cart-header-width: 42px;
$picto-cart-header-height: 42px;
$picto-cart-header-total-width: 960px;
$picto-cart-header-total-height: 887px;
$picto-cart-header-image: '../images/client/sprites/spritesheet.png';
$picto-cart-header: (0px, 666px, 0px, -666px, 42px, 42px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'picto-cart-header' );
$picto-close-name: 'picto-close';
$picto-close-x: 0px;
$picto-close-y: 349px;
$picto-close-offset-x: 0px;
$picto-close-offset-y: -349px;
$picto-close-width: 20px;
$picto-close-height: 20px;
$picto-close-total-width: 960px;
$picto-close-total-height: 887px;
$picto-close-image: '../images/client/sprites/spritesheet.png';
$picto-close: (0px, 349px, 0px, -349px, 20px, 20px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'picto-close' );
$picto-desc-name: 'picto-desc';
$picto-desc-x: 0px;
$picto-desc-y: 0px;
$picto-desc-offset-x: 0px;
$picto-desc-offset-y: 0px;
$picto-desc-width: 9px;
$picto-desc-height: 5px;
$picto-desc-total-width: 960px;
$picto-desc-total-height: 887px;
$picto-desc-image: '../images/client/sprites/spritesheet.png';
$picto-desc: (0px, 0px, 0px, 0px, 9px, 5px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'picto-desc' );
$picto-error-name: 'picto-error';
$picto-error-x: 0px;
$picto-error-y: 164px;
$picto-error-offset-x: 0px;
$picto-error-offset-y: -164px;
$picto-error-width: 13px;
$picto-error-height: 13px;
$picto-error-total-width: 960px;
$picto-error-total-height: 887px;
$picto-error-image: '../images/client/sprites/spritesheet.png';
$picto-error: (0px, 164px, 0px, -164px, 13px, 13px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'picto-error' );
$picto-helper-name: 'picto-helper';
$picto-helper-x: 0px;
$picto-helper-y: 289px;
$picto-helper-offset-x: 0px;
$picto-helper-offset-y: -289px;
$picto-helper-width: 20px;
$picto-helper-height: 20px;
$picto-helper-total-width: 960px;
$picto-helper-total-height: 887px;
$picto-helper-image: '../images/client/sprites/spritesheet.png';
$picto-helper: (0px, 289px, 0px, -289px, 20px, 20px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'picto-helper' );
$picto-in-stock-name: 'picto-in-stock';
$picto-in-stock-x: 0px;
$picto-in-stock-y: 190px;
$picto-in-stock-offset-x: 0px;
$picto-in-stock-offset-y: -190px;
$picto-in-stock-width: 18px;
$picto-in-stock-height: 13px;
$picto-in-stock-total-width: 960px;
$picto-in-stock-total-height: 887px;
$picto-in-stock-image: '../images/client/sprites/spritesheet.png';
$picto-in-stock: (0px, 190px, 0px, -190px, 18px, 13px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'picto-in-stock' );
$picto-livraison-name: 'picto-livraison';
$picto-livraison-x: 0px;
$picto-livraison-y: 409px;
$picto-livraison-offset-x: 0px;
$picto-livraison-offset-y: -409px;
$picto-livraison-width: 33px;
$picto-livraison-height: 21px;
$picto-livraison-total-width: 960px;
$picto-livraison-total-height: 887px;
$picto-livraison-image: '../images/client/sprites/spritesheet.png';
$picto-livraison: (0px, 409px, 0px, -409px, 33px, 21px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'picto-livraison' );
$picto-logout-name: 'picto-logout';
$picto-logout-x: 0px;
$picto-logout-y: 126px;
$picto-logout-offset-x: 0px;
$picto-logout-offset-y: -126px;
$picto-logout-width: 12px;
$picto-logout-height: 12px;
$picto-logout-total-width: 960px;
$picto-logout-total-height: 887px;
$picto-logout-image: '../images/client/sprites/spritesheet.png';
$picto-logout: (0px, 126px, 0px, -126px, 12px, 12px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'picto-logout' );
$picto-newsletter-name: 'picto-newsletter';
$picto-newsletter-x: 0px;
$picto-newsletter-y: 389px;
$picto-newsletter-offset-x: 0px;
$picto-newsletter-offset-y: -389px;
$picto-newsletter-width: 28px;
$picto-newsletter-height: 20px;
$picto-newsletter-total-width: 960px;
$picto-newsletter-total-height: 887px;
$picto-newsletter-image: '../images/client/sprites/spritesheet.png';
$picto-newsletter: (0px, 389px, 0px, -389px, 28px, 20px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'picto-newsletter' );
$picto-notice-name: 'picto-notice';
$picto-notice-x: 0px;
$picto-notice-y: 233px;
$picto-notice-offset-x: 0px;
$picto-notice-offset-y: -233px;
$picto-notice-width: 6px;
$picto-notice-height: 18px;
$picto-notice-total-width: 960px;
$picto-notice-total-height: 887px;
$picto-notice-image: '../images/client/sprites/spritesheet.png';
$picto-notice: (0px, 233px, 0px, -233px, 6px, 18px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'picto-notice' );
$picto-out-of-stock-name: 'picto-out-of-stock';
$picto-out-of-stock-x: 0px;
$picto-out-of-stock-y: 177px;
$picto-out-of-stock-offset-x: 0px;
$picto-out-of-stock-offset-y: -177px;
$picto-out-of-stock-width: 13px;
$picto-out-of-stock-height: 13px;
$picto-out-of-stock-total-width: 960px;
$picto-out-of-stock-total-height: 887px;
$picto-out-of-stock-image: '../images/client/sprites/spritesheet.png';
$picto-out-of-stock: (0px, 177px, 0px, -177px, 13px, 13px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'picto-out-of-stock' );
$picto-securise-name: 'picto-securise';
$picto-securise-x: 0px;
$picto-securise-y: 504px;
$picto-securise-offset-x: 0px;
$picto-securise-offset-y: -504px;
$picto-securise-width: 23px;
$picto-securise-height: 29px;
$picto-securise-total-width: 960px;
$picto-securise-total-height: 887px;
$picto-securise-image: '../images/client/sprites/spritesheet.png';
$picto-securise: (0px, 504px, 0px, -504px, 23px, 29px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'picto-securise' );
$picto-success-name: 'picto-success';
$picto-success-x: 0px;
$picto-success-y: 151px;
$picto-success-offset-x: 0px;
$picto-success-offset-y: -151px;
$picto-success-width: 18px;
$picto-success-height: 13px;
$picto-success-total-width: 960px;
$picto-success-total-height: 887px;
$picto-success-image: '../images/client/sprites/spritesheet.png';
$picto-success: (0px, 151px, 0px, -151px, 18px, 13px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'picto-success' );
$picto-wishlist-name: 'picto-wishlist';
$picto-wishlist-x: 0px;
$picto-wishlist-y: 103px;
$picto-wishlist-offset-x: 0px;
$picto-wishlist-offset-y: -103px;
$picto-wishlist-width: 11px;
$picto-wishlist-height: 11px;
$picto-wishlist-total-width: 960px;
$picto-wishlist-total-height: 887px;
$picto-wishlist-image: '../images/client/sprites/spritesheet.png';
$picto-wishlist: (0px, 103px, 0px, -103px, 11px, 11px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'picto-wishlist' );
$pictos-cartes-name: 'pictos-cartes';
$pictos-cartes-x: 0px;
$pictos-cartes-y: 478px;
$pictos-cartes-offset-x: 0px;
$pictos-cartes-offset-y: -478px;
$pictos-cartes-width: 203px;
$pictos-cartes-height: 26px;
$pictos-cartes-total-width: 960px;
$pictos-cartes-total-height: 887px;
$pictos-cartes-image: '../images/client/sprites/spritesheet.png';
$pictos-cartes: (0px, 478px, 0px, -478px, 203px, 26px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'pictos-cartes' );
$pictos-socolissimo-name: 'pictos-socolissimo';
$pictos-socolissimo-x: 0px;
$pictos-socolissimo-y: 595px;
$pictos-socolissimo-offset-x: 0px;
$pictos-socolissimo-offset-y: -595px;
$pictos-socolissimo-width: 252px;
$pictos-socolissimo-height: 33px;
$pictos-socolissimo-total-width: 960px;
$pictos-socolissimo-total-height: 887px;
$pictos-socolissimo-image: '../images/client/sprites/spritesheet.png';
$pictos-socolissimo: (0px, 595px, 0px, -595px, 252px, 33px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'pictos-socolissimo' );
$pourcentage-reduction-name: 'pourcentage-reduction';
$pourcentage-reduction-x: 0px;
$pourcentage-reduction-y: 759px;
$pourcentage-reduction-offset-x: 0px;
$pourcentage-reduction-offset-y: -759px;
$pourcentage-reduction-width: 55px;
$pourcentage-reduction-height: 55px;
$pourcentage-reduction-total-width: 960px;
$pourcentage-reduction-total-height: 887px;
$pourcentage-reduction-image: '../images/client/sprites/spritesheet.png';
$pourcentage-reduction: (0px, 759px, 0px, -759px, 55px, 55px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'pourcentage-reduction' );
$puce-nav-name: 'puce-nav';
$puce-nav-x: 0px;
$puce-nav-y: 37px;
$puce-nav-offset-x: 0px;
$puce-nav-offset-y: -37px;
$puce-nav-width: 5px;
$puce-nav-height: 9px;
$puce-nav-total-width: 960px;
$puce-nav-total-height: 887px;
$puce-nav-image: '../images/client/sprites/spritesheet.png';
$puce-nav: (0px, 37px, 0px, -37px, 5px, 9px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'puce-nav' );
$remove-filter-name: 'remove-filter';
$remove-filter-x: 0px;
$remove-filter-y: 28px;
$remove-filter-offset-x: 0px;
$remove-filter-offset-y: -28px;
$remove-filter-width: 9px;
$remove-filter-height: 9px;
$remove-filter-total-width: 960px;
$remove-filter-total-height: 887px;
$remove-filter-image: '../images/client/sprites/spritesheet.png';
$remove-filter: (0px, 28px, 0px, -28px, 9px, 9px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'remove-filter' );
$stars-off-name: 'stars-off';
$stars-off-x: 0px;
$stars-off-y: 83px;
$stars-off-offset-x: 0px;
$stars-off-offset-y: -83px;
$stars-off-width: 75px;
$stars-off-height: 10px;
$stars-off-total-width: 960px;
$stars-off-total-height: 887px;
$stars-off-image: '../images/client/sprites/spritesheet.png';
$stars-off: (0px, 83px, 0px, -83px, 75px, 10px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'stars-off' );
$stars-on-name: 'stars-on';
$stars-on-x: 0px;
$stars-on-y: 93px;
$stars-on-offset-x: 0px;
$stars-on-offset-y: -93px;
$stars-on-width: 75px;
$stars-on-height: 10px;
$stars-on-total-width: 960px;
$stars-on-total-height: 887px;
$stars-on-image: '../images/client/sprites/spritesheet.png';
$stars-on: (0px, 93px, 0px, -93px, 75px, 10px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'stars-on' );
$validation-arrow-name: 'validation-arrow';
$validation-arrow-x: 0px;
$validation-arrow-y: 46px;
$validation-arrow-offset-x: 0px;
$validation-arrow-offset-y: -46px;
$validation-arrow-width: 9px;
$validation-arrow-height: 9px;
$validation-arrow-total-width: 960px;
$validation-arrow-total-height: 887px;
$validation-arrow-image: '../images/client/sprites/spritesheet.png';
$validation-arrow: (0px, 46px, 0px, -46px, 9px, 9px, 960px, 887px, '../images/client/sprites/spritesheet.png', 'validation-arrow' );
$spritesheet-width: 960px;
$spritesheet-height: 887px;
$spritesheet-image: '../images/client/sprites/spritesheet.png';
$spritesheet-sprites: ($arrow-left-primary, $arrow-right-empty, $arrow-right-primary, $arrow-right, $bxslider-next, $bxslider-prev, $close, $etoile-off, $etoile-on, $footer-bloc-ombre, $form-search-button, $grille, $liste, $logo-client-header, $more-views-next, $more-views-prev, $new-fr, $ombre-menu, $page-next, $page-prev, $picto-account, $picto-asc, $picto-cart-header, $picto-close, $picto-desc, $picto-error, $picto-helper, $picto-in-stock, $picto-livraison, $picto-logout, $picto-newsletter, $picto-notice, $picto-out-of-stock, $picto-securise, $picto-success, $picto-wishlist, $pictos-cartes, $pictos-socolissimo, $pourcentage-reduction, $puce-nav, $remove-filter, $stars-off, $stars-on, $validation-arrow );
$spritesheet: (960px, 887px, '../images/client/sprites/spritesheet.png', $spritesheet-sprites );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
