/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$add-black-name: 'add-black';
$add-black-x: 462px;
$add-black-y: 41px;
$add-black-offset-x: -462px;
$add-black-offset-y: -41px;
$add-black-width: 13px;
$add-black-height: 13px;
$add-black-total-width: 960px;
$add-black-total-height: 140px;
$add-black-image: '../images/client/sprites/spritesheet.png';
$add-black: (462px, 41px, -462px, -41px, 13px, 13px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'add-black' );
$add-name: 'add';
$add-x: 475px;
$add-y: 41px;
$add-offset-x: -475px;
$add-offset-y: -41px;
$add-width: 13px;
$add-height: 13px;
$add-total-width: 960px;
$add-total-height: 140px;
$add-image: '../images/client/sprites/spritesheet.png';
$add: (475px, 41px, -475px, -41px, 13px, 13px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'add' );
$arrow-bottom-name: 'arrow-bottom';
$arrow-bottom-x: 903px;
$arrow-bottom-y: 20px;
$arrow-bottom-offset-x: -903px;
$arrow-bottom-offset-y: -20px;
$arrow-bottom-width: 7px;
$arrow-bottom-height: 4px;
$arrow-bottom-total-width: 960px;
$arrow-bottom-total-height: 140px;
$arrow-bottom-image: '../images/client/sprites/spritesheet.png';
$arrow-bottom: (903px, 20px, -903px, -20px, 7px, 4px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'arrow-bottom' );
$arrow-left-primary-name: 'arrow-left-primary';
$arrow-left-primary-x: 875px;
$arrow-left-primary-y: 20px;
$arrow-left-primary-offset-x: -875px;
$arrow-left-primary-offset-y: -20px;
$arrow-left-primary-width: 5px;
$arrow-left-primary-height: 9px;
$arrow-left-primary-total-width: 960px;
$arrow-left-primary-total-height: 140px;
$arrow-left-primary-image: '../images/client/sprites/spritesheet.png';
$arrow-left-primary: (875px, 20px, -875px, -20px, 5px, 9px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'arrow-left-primary' );
$arrow-right-primary-name: 'arrow-right-primary';
$arrow-right-primary-x: 379px;
$arrow-right-primary-y: 30px;
$arrow-right-primary-offset-x: -379px;
$arrow-right-primary-offset-y: -30px;
$arrow-right-primary-width: 5px;
$arrow-right-primary-height: 9px;
$arrow-right-primary-total-width: 960px;
$arrow-right-primary-total-height: 140px;
$arrow-right-primary-image: '../images/client/sprites/spritesheet.png';
$arrow-right-primary: (379px, 30px, -379px, -30px, 5px, 9px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'arrow-right-primary' );
$arrow-right-white-name: 'arrow-right-white';
$arrow-right-white-x: 337px;
$arrow-right-white-y: 69px;
$arrow-right-white-offset-x: -337px;
$arrow-right-white-offset-y: -69px;
$arrow-right-white-width: 7px;
$arrow-right-white-height: 13px;
$arrow-right-white-total-width: 960px;
$arrow-right-white-total-height: 140px;
$arrow-right-white-image: '../images/client/sprites/spritesheet.png';
$arrow-right-white: (337px, 69px, -337px, -69px, 7px, 13px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'arrow-right-white' );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 374px;
$arrow-right-y: 30px;
$arrow-right-offset-x: -374px;
$arrow-right-offset-y: -30px;
$arrow-right-width: 5px;
$arrow-right-height: 9px;
$arrow-right-total-width: 960px;
$arrow-right-total-height: 140px;
$arrow-right-image: '../images/client/sprites/spritesheet.png';
$arrow-right: (374px, 30px, -374px, -30px, 5px, 9px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'arrow-right' );
$arrow-select-name: 'arrow-select';
$arrow-select-x: 229px;
$arrow-select-y: 69px;
$arrow-select-offset-x: -229px;
$arrow-select-offset-y: -69px;
$arrow-select-width: 20px;
$arrow-select-height: 23px;
$arrow-select-total-width: 960px;
$arrow-select-total-height: 140px;
$arrow-select-image: '../images/client/sprites/spritesheet.png';
$arrow-select: (229px, 69px, -229px, -69px, 20px, 23px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'arrow-select' );
$close-name: 'close';
$close-x: 553px;
$close-y: 41px;
$close-offset-x: -553px;
$close-offset-y: -41px;
$close-width: 12px;
$close-height: 12px;
$close-total-width: 960px;
$close-total-height: 140px;
$close-image: '../images/client/sprites/spritesheet.png';
$close: (553px, 41px, -553px, -41px, 12px, 12px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'close' );
$cubes-big-name: 'cubes-big';
$cubes-big-x: 162px;
$cubes-big-y: 41px;
$cubes-big-offset-x: -162px;
$cubes-big-offset-y: -41px;
$cubes-big-width: 67px;
$cubes-big-height: 57px;
$cubes-big-total-width: 960px;
$cubes-big-total-height: 140px;
$cubes-big-image: '../images/client/sprites/spritesheet.png';
$cubes-big: (162px, 41px, -162px, -41px, 67px, 57px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'cubes-big' );
$edit-adresse-name: 'edit-adresse';
$edit-adresse-x: 601px;
$edit-adresse-y: 41px;
$edit-adresse-offset-x: -601px;
$edit-adresse-offset-y: -41px;
$edit-adresse-width: 11px;
$edit-adresse-height: 12px;
$edit-adresse-total-width: 960px;
$edit-adresse-total-height: 140px;
$edit-adresse-image: '../images/client/sprites/spritesheet.png';
$edit-adresse: (601px, 41px, -601px, -41px, 11px, 12px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'edit-adresse' );
$etoile-off-name: 'etoile-off';
$etoile-off-x: 565px;
$etoile-off-y: 41px;
$etoile-off-offset-x: -565px;
$etoile-off-offset-y: -41px;
$etoile-off-width: 12px;
$etoile-off-height: 12px;
$etoile-off-total-width: 960px;
$etoile-off-total-height: 140px;
$etoile-off-image: '../images/client/sprites/spritesheet.png';
$etoile-off: (565px, 41px, -565px, -41px, 12px, 12px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'etoile-off' );
$etoile-on-name: 'etoile-on';
$etoile-on-x: 577px;
$etoile-on-y: 41px;
$etoile-on-offset-x: -577px;
$etoile-on-offset-y: -41px;
$etoile-on-width: 12px;
$etoile-on-height: 12px;
$etoile-on-total-width: 960px;
$etoile-on-total-height: 140px;
$etoile-on-image: '../images/client/sprites/spritesheet.png';
$etoile-on: (577px, 41px, -577px, -41px, 12px, 12px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'etoile-on' );
$fleche-button2-name: 'fleche-button2';
$fleche-button2-x: 394px;
$fleche-button2-y: 30px;
$fleche-button2-offset-x: -394px;
$fleche-button2-offset-y: -30px;
$fleche-button2-width: 4px;
$fleche-button2-height: 7px;
$fleche-button2-total-width: 960px;
$fleche-button2-total-height: 140px;
$fleche-button2-image: '../images/client/sprites/spritesheet.png';
$fleche-button2: (394px, 30px, -394px, -30px, 4px, 7px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'fleche-button2' );
$fleche-nl-footer-name: 'fleche-nl-footer';
$fleche-nl-footer-x: 369px;
$fleche-nl-footer-y: 30px;
$fleche-nl-footer-offset-x: -369px;
$fleche-nl-footer-offset-y: -30px;
$fleche-nl-footer-width: 5px;
$fleche-nl-footer-height: 9px;
$fleche-nl-footer-total-width: 960px;
$fleche-nl-footer-total-height: 140px;
$fleche-nl-footer-image: '../images/client/sprites/spritesheet.png';
$fleche-nl-footer: (369px, 30px, -369px, -30px, 5px, 9px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'fleche-nl-footer' );
$footer-bloc-ombre-name: 'footer-bloc-ombre';
$footer-bloc-ombre-x: 349px;
$footer-bloc-ombre-y: 20px;
$footer-bloc-ombre-offset-x: -349px;
$footer-bloc-ombre-offset-y: -20px;
$footer-bloc-ombre-width: 308px;
$footer-bloc-ombre-height: 10px;
$footer-bloc-ombre-total-width: 960px;
$footer-bloc-ombre-total-height: 140px;
$footer-bloc-ombre-image: '../images/client/sprites/spritesheet.png';
$footer-bloc-ombre: (349px, 20px, -349px, -20px, 308px, 10px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'footer-bloc-ombre' );
$form-search-button-name: 'form-search-button';
$form-search-button-x: 589px;
$form-search-button-y: 41px;
$form-search-button-offset-x: -589px;
$form-search-button-offset-y: -41px;
$form-search-button-width: 12px;
$form-search-button-height: 12px;
$form-search-button-total-width: 960px;
$form-search-button-total-height: 140px;
$form-search-button-image: '../images/client/sprites/spritesheet.png';
$form-search-button: (589px, 41px, -589px, -41px, 12px, 12px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'form-search-button' );
$form-search-button2-name: 'form-search-button2';
$form-search-button2-x: 529px;
$form-search-button2-y: 41px;
$form-search-button2-offset-x: -529px;
$form-search-button2-offset-y: -41px;
$form-search-button2-width: 12px;
$form-search-button2-height: 12px;
$form-search-button2-total-width: 960px;
$form-search-button2-total-height: 140px;
$form-search-button2-image: '../images/client/sprites/spritesheet.png';
$form-search-button2: (529px, 41px, -529px, -41px, 12px, 12px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'form-search-button2' );
$grille-name: 'grille';
$grille-x: 400px;
$grille-y: 41px;
$grille-offset-x: -400px;
$grille-offset-y: -41px;
$grille-width: 18px;
$grille-height: 15px;
$grille-total-width: 960px;
$grille-total-height: 140px;
$grille-image: '../images/client/sprites/spritesheet.png';
$grille: (400px, 41px, -400px, -41px, 18px, 15px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'grille' );
$ico-compare-name: 'ico-compare';
$ico-compare-x: 825px;
$ico-compare-y: 20px;
$ico-compare-offset-x: -825px;
$ico-compare-offset-y: -20px;
$ico-compare-width: 14px;
$ico-compare-height: 9px;
$ico-compare-total-width: 960px;
$ico-compare-total-height: 140px;
$ico-compare-image: '../images/client/sprites/spritesheet.png';
$ico-compare: (825px, 20px, -825px, -20px, 14px, 9px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'ico-compare' );
$ico-renouveler-name: 'ico-renouveler';
$ico-renouveler-x: 323px;
$ico-renouveler-y: 69px;
$ico-renouveler-offset-x: -323px;
$ico-renouveler-offset-y: -69px;
$ico-renouveler-width: 14px;
$ico-renouveler-height: 14px;
$ico-renouveler-total-width: 960px;
$ico-renouveler-total-height: 140px;
$ico-renouveler-image: '../images/client/sprites/spritesheet.png';
$ico-renouveler: (323px, 69px, -323px, -69px, 14px, 14px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'ico-renouveler' );
$ico-visualiser-name: 'ico-visualiser';
$ico-visualiser-x: 807px;
$ico-visualiser-y: 20px;
$ico-visualiser-offset-x: -807px;
$ico-visualiser-offset-y: -20px;
$ico-visualiser-width: 18px;
$ico-visualiser-height: 10px;
$ico-visualiser-total-width: 960px;
$ico-visualiser-total-height: 140px;
$ico-visualiser-image: '../images/client/sprites/spritesheet.png';
$ico-visualiser: (807px, 20px, -807px, -20px, 18px, 10px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'ico-visualiser' );
$liste-name: 'liste';
$liste-x: 382px;
$liste-y: 41px;
$liste-offset-x: -382px;
$liste-offset-y: -41px;
$liste-width: 18px;
$liste-height: 15px;
$liste-total-width: 960px;
$liste-total-height: 140px;
$liste-image: '../images/client/sprites/spritesheet.png';
$liste: (382px, 41px, -382px, -41px, 18px, 15px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'liste' );
$more-views-next-name: 'more-views-next';
$more-views-next-x: 269px;
$more-views-next-y: 69px;
$more-views-next-offset-x: -269px;
$more-views-next-offset-y: -69px;
$more-views-next-width: 14px;
$more-views-next-height: 20px;
$more-views-next-total-width: 960px;
$more-views-next-total-height: 140px;
$more-views-next-image: '../images/client/sprites/spritesheet.png';
$more-views-next: (269px, 69px, -269px, -69px, 14px, 20px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'more-views-next' );
$more-views-prev-name: 'more-views-prev';
$more-views-prev-x: 283px;
$more-views-prev-y: 69px;
$more-views-prev-offset-x: -283px;
$more-views-prev-offset-y: -69px;
$more-views-prev-width: 14px;
$more-views-prev-height: 20px;
$more-views-prev-total-width: 960px;
$more-views-prev-total-height: 140px;
$more-views-prev-image: '../images/client/sprites/spritesheet.png';
$more-views-prev: (283px, 69px, -283px, -69px, 14px, 20px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'more-views-prev' );
$new-fr-name: 'new-fr';
$new-fr-x: 83px;
$new-fr-y: 41px;
$new-fr-offset-x: -83px;
$new-fr-offset-y: -41px;
$new-fr-width: 79px;
$new-fr-height: 79px;
$new-fr-total-width: 960px;
$new-fr-total-height: 140px;
$new-fr-image: '../images/client/sprites/spritesheet.png';
$new-fr: (83px, 41px, -83px, -41px, 79px, 79px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'new-fr' );
$next-little-name: 'next-little';
$next-little-x: 389px;
$next-little-y: 30px;
$next-little-offset-x: -389px;
$next-little-offset-y: -30px;
$next-little-width: 5px;
$next-little-height: 7px;
$next-little-total-width: 960px;
$next-little-total-height: 140px;
$next-little-image: '../images/client/sprites/spritesheet.png';
$next-little: (389px, 30px, -389px, -30px, 5px, 7px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'next-little' );
$ombre-menu-name: 'ombre-menu';
$ombre-menu-x: 0px;
$ombre-menu-y: 0px;
$ombre-menu-offset-x: 0px;
$ombre-menu-offset-y: 0px;
$ombre-menu-width: 960px;
$ombre-menu-height: 20px;
$ombre-menu-total-width: 960px;
$ombre-menu-total-height: 140px;
$ombre-menu-image: '../images/client/sprites/spritesheet.png';
$ombre-menu: (0px, 0px, 0px, 0px, 960px, 20px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'ombre-menu' );
$page-next-name: 'page-next';
$page-next-x: 188px;
$page-next-y: 98px;
$page-next-offset-x: -188px;
$page-next-offset-y: -98px;
$page-next-width: 8px;
$page-next-height: 15px;
$page-next-total-width: 960px;
$page-next-total-height: 140px;
$page-next-image: '../images/client/sprites/spritesheet.png';
$page-next: (188px, 98px, -188px, -98px, 8px, 15px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'page-next' );
$page-prev-name: 'page-prev';
$page-prev-x: 180px;
$page-prev-y: 98px;
$page-prev-offset-x: -180px;
$page-prev-offset-y: -98px;
$page-prev-width: 8px;
$page-prev-height: 15px;
$page-prev-total-width: 960px;
$page-prev-total-height: 140px;
$page-prev-image: '../images/client/sprites/spritesheet.png';
$page-prev: (180px, 98px, -180px, -98px, 8px, 15px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'page-prev' );
$picto-account-name: 'picto-account';
$picto-account-x: 436px;
$picto-account-y: 41px;
$picto-account-offset-x: -436px;
$picto-account-offset-y: -41px;
$picto-account-width: 13px;
$picto-account-height: 13px;
$picto-account-total-width: 960px;
$picto-account-total-height: 140px;
$picto-account-image: '../images/client/sprites/spritesheet.png';
$picto-account: (436px, 41px, -436px, -41px, 13px, 13px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'picto-account' );
$picto-asc-name: 'picto-asc';
$picto-asc-x: 894px;
$picto-asc-y: 20px;
$picto-asc-offset-x: -894px;
$picto-asc-offset-y: -20px;
$picto-asc-width: 9px;
$picto-asc-height: 5px;
$picto-asc-total-width: 960px;
$picto-asc-total-height: 140px;
$picto-asc-image: '../images/client/sprites/spritesheet.png';
$picto-asc: (894px, 20px, -894px, -20px, 9px, 5px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'picto-asc' );
$picto-cart-header-name: 'picto-cart-header';
$picto-cart-header-x: 162px;
$picto-cart-header-y: 98px;
$picto-cart-header-offset-x: -162px;
$picto-cart-header-offset-y: -98px;
$picto-cart-header-width: 18px;
$picto-cart-header-height: 22px;
$picto-cart-header-total-width: 960px;
$picto-cart-header-total-height: 140px;
$picto-cart-header-image: '../images/client/sprites/spritesheet.png';
$picto-cart-header: (162px, 98px, -162px, -98px, 18px, 22px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'picto-cart-header' );
$picto-close-name: 'picto-close';
$picto-close-x: 848px;
$picto-close-y: 20px;
$picto-close-offset-x: -848px;
$picto-close-offset-y: -20px;
$picto-close-width: 9px;
$picto-close-height: 9px;
$picto-close-total-width: 960px;
$picto-close-total-height: 140px;
$picto-close-image: '../images/client/sprites/spritesheet.png';
$picto-close: (848px, 20px, -848px, -20px, 9px, 9px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'picto-close' );
$picto-desc-name: 'picto-desc';
$picto-desc-x: 885px;
$picto-desc-y: 20px;
$picto-desc-offset-x: -885px;
$picto-desc-offset-y: -20px;
$picto-desc-width: 9px;
$picto-desc-height: 5px;
$picto-desc-total-width: 960px;
$picto-desc-total-height: 140px;
$picto-desc-image: '../images/client/sprites/spritesheet.png';
$picto-desc: (885px, 20px, -885px, -20px, 9px, 5px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'picto-desc' );
$picto-error-name: 'picto-error';
$picto-error-x: 488px;
$picto-error-y: 41px;
$picto-error-offset-x: -488px;
$picto-error-offset-y: -41px;
$picto-error-width: 13px;
$picto-error-height: 13px;
$picto-error-total-width: 960px;
$picto-error-total-height: 140px;
$picto-error-image: '../images/client/sprites/spritesheet.png';
$picto-error: (488px, 41px, -488px, -41px, 13px, 13px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'picto-error' );
$picto-helper-name: 'picto-helper';
$picto-helper-x: 249px;
$picto-helper-y: 69px;
$picto-helper-offset-x: -249px;
$picto-helper-offset-y: -69px;
$picto-helper-width: 20px;
$picto-helper-height: 20px;
$picto-helper-total-width: 960px;
$picto-helper-total-height: 140px;
$picto-helper-image: '../images/client/sprites/spritesheet.png';
$picto-helper: (249px, 69px, -249px, -69px, 20px, 20px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'picto-helper' );
$picto-in-stock-name: 'picto-in-stock';
$picto-in-stock-x: 360px;
$picto-in-stock-y: 30px;
$picto-in-stock-offset-x: -360px;
$picto-in-stock-offset-y: -30px;
$picto-in-stock-width: 9px;
$picto-in-stock-height: 10px;
$picto-in-stock-total-width: 960px;
$picto-in-stock-total-height: 140px;
$picto-in-stock-image: '../images/client/sprites/spritesheet.png';
$picto-in-stock: (360px, 30px, -360px, -30px, 9px, 10px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'picto-in-stock' );
$picto-logout-name: 'picto-logout';
$picto-logout-x: 541px;
$picto-logout-y: 41px;
$picto-logout-offset-x: -541px;
$picto-logout-offset-y: -41px;
$picto-logout-width: 12px;
$picto-logout-height: 12px;
$picto-logout-total-width: 960px;
$picto-logout-total-height: 140px;
$picto-logout-image: '../images/client/sprites/spritesheet.png';
$picto-logout: (541px, 41px, -541px, -41px, 12px, 12px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'picto-logout' );
$picto-modif-name: 'picto-modif';
$picto-modif-x: 612px;
$picto-modif-y: 41px;
$picto-modif-offset-x: -612px;
$picto-modif-offset-y: -41px;
$picto-modif-width: 11px;
$picto-modif-height: 12px;
$picto-modif-total-width: 960px;
$picto-modif-total-height: 140px;
$picto-modif-image: '../images/client/sprites/spritesheet.png';
$picto-modif: (612px, 41px, -612px, -41px, 11px, 12px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'picto-modif' );
$picto-newsletter-name: 'picto-newsletter';
$picto-newsletter-x: 336px;
$picto-newsletter-y: 41px;
$picto-newsletter-offset-x: -336px;
$picto-newsletter-offset-y: -41px;
$picto-newsletter-width: 28px;
$picto-newsletter-height: 18px;
$picto-newsletter-total-width: 960px;
$picto-newsletter-total-height: 140px;
$picto-newsletter-image: '../images/client/sprites/spritesheet.png';
$picto-newsletter: (336px, 41px, -336px, -41px, 28px, 18px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'picto-newsletter' );
$picto-notice-name: 'picto-notice';
$picto-notice-x: 0px;
$picto-notice-y: 122px;
$picto-notice-offset-x: 0px;
$picto-notice-offset-y: -122px;
$picto-notice-width: 6px;
$picto-notice-height: 18px;
$picto-notice-total-width: 960px;
$picto-notice-total-height: 140px;
$picto-notice-image: '../images/client/sprites/spritesheet.png';
$picto-notice: (0px, 122px, 0px, -122px, 6px, 18px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'picto-notice' );
$picto-out-of-stock-name: 'picto-out-of-stock';
$picto-out-of-stock-x: 449px;
$picto-out-of-stock-y: 41px;
$picto-out-of-stock-offset-x: -449px;
$picto-out-of-stock-offset-y: -41px;
$picto-out-of-stock-width: 13px;
$picto-out-of-stock-height: 13px;
$picto-out-of-stock-total-width: 960px;
$picto-out-of-stock-total-height: 140px;
$picto-out-of-stock-image: '../images/client/sprites/spritesheet.png';
$picto-out-of-stock: (449px, 41px, -449px, -41px, 13px, 13px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'picto-out-of-stock' );
$picto-success-name: 'picto-success';
$picto-success-x: 418px;
$picto-success-y: 41px;
$picto-success-offset-x: -418px;
$picto-success-offset-y: -41px;
$picto-success-width: 18px;
$picto-success-height: 13px;
$picto-success-total-width: 960px;
$picto-success-total-height: 140px;
$picto-success-image: '../images/client/sprites/spritesheet.png';
$picto-success: (418px, 41px, -418px, -41px, 18px, 13px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'picto-success' );
$picto-wishlist-name: 'picto-wishlist';
$picto-wishlist-x: 349px;
$picto-wishlist-y: 30px;
$picto-wishlist-offset-x: -349px;
$picto-wishlist-offset-y: -30px;
$picto-wishlist-width: 11px;
$picto-wishlist-height: 11px;
$picto-wishlist-total-width: 960px;
$picto-wishlist-total-height: 140px;
$picto-wishlist-image: '../images/client/sprites/spritesheet.png';
$picto-wishlist: (349px, 30px, -349px, -30px, 11px, 11px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'picto-wishlist' );
$pictos-cartes-name: 'pictos-cartes';
$pictos-cartes-x: 0px;
$pictos-cartes-y: 20px;
$pictos-cartes-offset-x: 0px;
$pictos-cartes-offset-y: -20px;
$pictos-cartes-width: 349px;
$pictos-cartes-height: 21px;
$pictos-cartes-total-width: 960px;
$pictos-cartes-total-height: 140px;
$pictos-cartes-image: '../images/client/sprites/spritesheet.png';
$pictos-cartes: (0px, 20px, 0px, -20px, 349px, 21px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'pictos-cartes' );
$pictos-socolissimo-name: 'pictos-socolissimo';
$pictos-socolissimo-x: 229px;
$pictos-socolissimo-y: 41px;
$pictos-socolissimo-offset-x: -229px;
$pictos-socolissimo-offset-y: -41px;
$pictos-socolissimo-width: 107px;
$pictos-socolissimo-height: 28px;
$pictos-socolissimo-total-width: 960px;
$pictos-socolissimo-total-height: 140px;
$pictos-socolissimo-image: '../images/client/sprites/spritesheet.png';
$pictos-socolissimo: (229px, 41px, -229px, -41px, 107px, 28px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'pictos-socolissimo' );
$poubelle-name: 'poubelle';
$poubelle-x: 310px;
$poubelle-y: 69px;
$poubelle-offset-x: -310px;
$poubelle-offset-y: -69px;
$poubelle-width: 13px;
$poubelle-height: 16px;
$poubelle-total-width: 960px;
$poubelle-total-height: 140px;
$poubelle-image: '../images/client/sprites/spritesheet.png';
$poubelle: (310px, 69px, -310px, -69px, 13px, 16px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'poubelle' );
$pourcentage-reduction-name: 'pourcentage-reduction';
$pourcentage-reduction-x: 0px;
$pourcentage-reduction-y: 41px;
$pourcentage-reduction-offset-x: 0px;
$pourcentage-reduction-offset-y: -41px;
$pourcentage-reduction-width: 83px;
$pourcentage-reduction-height: 81px;
$pourcentage-reduction-total-width: 960px;
$pourcentage-reduction-total-height: 140px;
$pourcentage-reduction-image: '../images/client/sprites/spritesheet.png';
$pourcentage-reduction: (0px, 41px, 0px, -41px, 83px, 81px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'pourcentage-reduction' );
$prev-little-name: 'prev-little';
$prev-little-x: 384px;
$prev-little-y: 30px;
$prev-little-offset-x: -384px;
$prev-little-offset-y: -30px;
$prev-little-width: 5px;
$prev-little-height: 7px;
$prev-little-total-width: 960px;
$prev-little-total-height: 140px;
$prev-little-image: '../images/client/sprites/spritesheet.png';
$prev-little: (384px, 30px, -384px, -30px, 5px, 7px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'prev-little' );
$print-name: 'print';
$print-x: 364px;
$print-y: 41px;
$print-offset-x: -364px;
$print-offset-y: -41px;
$print-width: 18px;
$print-height: 16px;
$print-total-width: 960px;
$print-total-height: 140px;
$print-image: '../images/client/sprites/spritesheet.png';
$print: (364px, 41px, -364px, -41px, 18px, 16px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'print' );
$puce-nav-name: 'puce-nav';
$puce-nav-x: 880px;
$puce-nav-y: 20px;
$puce-nav-offset-x: -880px;
$puce-nav-offset-y: -20px;
$puce-nav-width: 5px;
$puce-nav-height: 9px;
$puce-nav-total-width: 960px;
$puce-nav-total-height: 140px;
$puce-nav-image: '../images/client/sprites/spritesheet.png';
$puce-nav: (880px, 20px, -880px, -20px, 5px, 9px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'puce-nav' );
$reload-name: 'reload';
$reload-x: 501px;
$reload-y: 41px;
$reload-offset-x: -501px;
$reload-offset-y: -41px;
$reload-width: 14px;
$reload-height: 12px;
$reload-total-width: 960px;
$reload-total-height: 140px;
$reload-image: '../images/client/sprites/spritesheet.png';
$reload: (501px, 41px, -501px, -41px, 14px, 12px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'reload' );
$remove-filter-name: 'remove-filter';
$remove-filter-x: 857px;
$remove-filter-y: 20px;
$remove-filter-offset-x: -857px;
$remove-filter-offset-y: -20px;
$remove-filter-width: 9px;
$remove-filter-height: 9px;
$remove-filter-total-width: 960px;
$remove-filter-total-height: 140px;
$remove-filter-image: '../images/client/sprites/spritesheet.png';
$remove-filter: (857px, 20px, -857px, -20px, 9px, 9px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'remove-filter' );
$remove-white-name: 'remove-white';
$remove-white-x: 866px;
$remove-white-y: 20px;
$remove-white-offset-x: -866px;
$remove-white-offset-y: -20px;
$remove-white-width: 9px;
$remove-white-height: 9px;
$remove-white-total-width: 960px;
$remove-white-total-height: 140px;
$remove-white-image: '../images/client/sprites/spritesheet.png';
$remove-white: (866px, 20px, -866px, -20px, 9px, 9px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'remove-white' );
$stars-off-name: 'stars-off';
$stars-off-x: 732px;
$stars-off-y: 20px;
$stars-off-offset-x: -732px;
$stars-off-offset-y: -20px;
$stars-off-width: 75px;
$stars-off-height: 10px;
$stars-off-total-width: 960px;
$stars-off-total-height: 140px;
$stars-off-image: '../images/client/sprites/spritesheet.png';
$stars-off: (732px, 20px, -732px, -20px, 75px, 10px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'stars-off' );
$stars-on-name: 'stars-on';
$stars-on-x: 657px;
$stars-on-y: 20px;
$stars-on-offset-x: -657px;
$stars-on-offset-y: -20px;
$stars-on-width: 75px;
$stars-on-height: 10px;
$stars-on-total-width: 960px;
$stars-on-total-height: 140px;
$stars-on-image: '../images/client/sprites/spritesheet.png';
$stars-on: (657px, 20px, -657px, -20px, 75px, 10px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'stars-on' );
$talk-name: 'talk';
$talk-x: 515px;
$talk-y: 41px;
$talk-offset-x: -515px;
$talk-offset-y: -41px;
$talk-width: 14px;
$talk-height: 12px;
$talk-total-width: 960px;
$talk-total-height: 140px;
$talk-image: '../images/client/sprites/spritesheet.png';
$talk: (515px, 41px, -515px, -41px, 14px, 12px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'talk' );
$trash-name: 'trash';
$trash-x: 297px;
$trash-y: 69px;
$trash-offset-x: -297px;
$trash-offset-y: -69px;
$trash-width: 13px;
$trash-height: 16px;
$trash-total-width: 960px;
$trash-total-height: 140px;
$trash-image: '../images/client/sprites/spritesheet.png';
$trash: (297px, 69px, -297px, -69px, 13px, 16px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'trash' );
$validation-arrow-name: 'validation-arrow';
$validation-arrow-x: 839px;
$validation-arrow-y: 20px;
$validation-arrow-offset-x: -839px;
$validation-arrow-offset-y: -20px;
$validation-arrow-width: 9px;
$validation-arrow-height: 9px;
$validation-arrow-total-width: 960px;
$validation-arrow-total-height: 140px;
$validation-arrow-image: '../images/client/sprites/spritesheet.png';
$validation-arrow: (839px, 20px, -839px, -20px, 9px, 9px, 960px, 140px, '../images/client/sprites/spritesheet.png', 'validation-arrow' );
$spritesheet-width: 960px;
$spritesheet-height: 140px;
$spritesheet-image: '../images/client/sprites/spritesheet.png';
$spritesheet-sprites: ($add-black, $add, $arrow-bottom, $arrow-left-primary, $arrow-right-primary, $arrow-right-white, $arrow-right, $arrow-select, $close, $cubes-big, $edit-adresse, $etoile-off, $etoile-on, $fleche-button2, $fleche-nl-footer, $footer-bloc-ombre, $form-search-button, $form-search-button2, $grille, $ico-compare, $ico-renouveler, $ico-visualiser, $liste, $more-views-next, $more-views-prev, $new-fr, $next-little, $ombre-menu, $page-next, $page-prev, $picto-account, $picto-asc, $picto-cart-header, $picto-close, $picto-desc, $picto-error, $picto-helper, $picto-in-stock, $picto-logout, $picto-modif, $picto-newsletter, $picto-notice, $picto-out-of-stock, $picto-success, $picto-wishlist, $pictos-cartes, $pictos-socolissimo, $poubelle, $pourcentage-reduction, $prev-little, $print, $puce-nav, $reload, $remove-filter, $remove-white, $stars-off, $stars-on, $talk, $trash, $validation-arrow );
$spritesheet: (960px, 140px, '../images/client/sprites/spritesheet.png', $spritesheet-sprites );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
