@color-main: #eb5b5b;
@color-second: #f4f4f4;

/*
 __     __         _       _     _           
 \ \   / /_ _ _ __(_) __ _| |__ | | ___  ___ 
  \ \ / / _` | '__| |/ _` | '_ \| |/ _ \/ __|
   \ V / (_| | |  | | (_| | |_) | |  __/\__ \
    \_/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/
*/
/* variables */
@c1: #0067ac; /* prix */
@c2: #eb5b5b; /* dominante */
@c2t: rgba(255, 111, 111, 0.7); /* dominante */
@c2t20: rgba(255, 111, 111, 0.2); /* dominante */
@c2t10: rgba(255, 111, 111, 0.1); /* dominante */
/* nuances de gris */
@c3: #0d0d0d; 
@c4: #939393;
@c5: #eeeeee;
@c6: #222222;
@c7: #d4d4d4;

@width: 980px; /* ATTENTION : changer la largeur ici implique de passer en revue toutes les pages du site pour équilibrer les colonnes */
@padding: 0 10px; /* assure une marge entre le contenu et l'éventuel fond ATTENTION on est en border-box */

@font-bold : uberlin_boldbold;
@font-light : open_sanslight;
@font-regular : uberlinregular;