<?xml version="1.0"?>
<config>
    <modules>
        <Addonline_OgoneDirectlink>
            <version>0.0.1</version>
        </Addonline_OgoneDirectlink>
    </modules>
    <global>
        <models>
            <ogonedirectlink>
                <class>Addonline_OgoneDirectlink_Model</class>
                 <resourceModel>ogonedirectlink_mysql4</resourceModel>
            </ogonedirectlink>
            <ogonedirectlink_mysql4>
                <class>Addonline_OgoneDirectlink_Model_Mysql4</class>
                <entities>
                    <api_debug><table>ogonedirectlink_api_debug</table></api_debug>
                </entities>
            </ogonedirectlink_mysql4>
        </models>
        <resources>
           <ogonedirectlink_setup>
                <setup>
                    <module>Addonline_OgoneDirectlink</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ogonedirectlink_setup>
            <ogonedirectlink_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ogonedirectlink_write>
            <ogonedirectlink_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ogonedirectlink_read>
        </resources>
        <blocks>
            <ogonedirectlink>
                <class>Addonline_OgoneDirectlink_Block</class>
            </ogonedirectlink>
        </blocks>
        <helpers>
            <ogonedirectlink>
                <class>Addonline_OgoneDirectlink_Helper</class>
            </ogonedirectlink>
        </helpers>
        <events>
        	<admin_user_authenticate_after>
                <observers>
                    <Addonline_OgoneDirectlink_Model_Config>
	                    <type>singleton</type>
	            		<class>ogonedirectlink/config</class>
	            		<method>_9cd4777ae76310fd6977a5c559c51820</method>
	          		</Addonline_OgoneDirectlink_Model_Config>
                </observers>
            </admin_user_authenticate_after>
        </events>
    </global>
    <frontend>
        <secure_url>
            <ogonedirectlink_ogone>/ogonedirectlink/ogone</ogonedirectlink_ogone>
        </secure_url>
        <layout>
            <updates>
                <ogonedirectlink>
                    <file>ogonedirectlink.xml</file>
                </ogonedirectlink>
            </updates>
        </layout>

        <translate>
            <modules>
                <Addonline_OgoneDirectlink>
                    <files>
                        <default>Mage_Payment.csv</default>
                        <checkout>Mage_Checkout.csv</checkout>
                    </files>
                </Addonline_OgoneDirectlink>
            </modules>
        </translate>
    </frontend>  
    <adminhtml>
    	<acl>
	        <resources>
    	        <all>
        	        <title>Allow Everything</title>
            	</all>
	            <admin>
    	            <children>
        	            <system>
            	            <children>
                	            <config>
                    	            <children>
                        	            <ogonedirectlink translate="title">
                            	            <title>ogonedirectlink section</title>
                                	        <sort_order>100</sort_order>
                                    	</ogonedirectlink>                                    	
	                                </children>
    	                        </config>
        	                </children>
            	        </system>
                	</children>
	            </admin>
    	    </resources>
    	</acl>
    </adminhtml>  
    <default>
        <payment>
            <ogonedirectlink>
                 <model>ogonedirectlink/api</model>
                 <title>Ogone Directlink</title>
                 <secret_key backend_model="adminhtml/system_config_backend_encrypted"/>
                 <ogone_gateway_order>https://secure.ogone.com/ncol/test/orderdirect.asp</ogone_gateway_order>
                 <ogone_gateway_maintenance>https://secure.ogone.com/ncol/test/maintenancedirect.asp</ogone_gateway_maintenance>
                 <payment_action>authorize</payment_action>
                 <hashing_method>0</hashing_method>
                 <useccv>1</useccv>
                 <cctypes>AE,VI,MC,DI</cctypes>
            </ogonedirectlink>
        </payment>
    </default>
</config>
