<!--@subject Confirmation de réinitialisation de mot de passe pour {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/resetpassword/\" _query_id=$customer.id _query_token=$customer.rp_token":"Reset Password URL"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F0F0F0; font-family:Arial, Verdana, Helvetica, sans-serif; font-size:12px; margin:0; padding:0; color:#939393 !important;">
<div style="background:#F0F0F0; font-family:Arial, Verdana, Helvetica, sans-serif; font-size:12px; margin:0; padding:0; color:#939393 !important;">
	<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
            <tr>
                <td align="center" valign="top" style="padding: 20px 0 20px 0">
                    <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #fff;">
                        <tr>
                            <td valign="top" style="padding:20px;border-bottom:1px solid #d4d4d4;">
                                <a href="{{store url=""}}" style="color:#f18200;"><img src="{{var logo_url}}" alt="{{var logo_alt}}" border="0"/></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="padding:20px 0;">
                            
                            	<div style="padding:0 20px;">
	                                <h1 style="font-size:18px; font-weight:bold; line-height:22px; margin:0 0 11px 0; color:#1b1b1b;">Bonjour {{htmlescape var=$customer.name}},</h1>
	                                <p style="font-size: 12px; line-height: 16px; margin: 0 0 8px 0;">Il ya eu récemment une demande pour changer le mot de passe pour votre compte.</p>
	                                <p style="font-size: 12px; line-height: 16px; margin: 0;">Si vous avez demandé ce changement de mot de passe, veuillez cliquer sur le lien ci-dessous pour réinitialiser votre mot de passe&nbsp;:<br/> <a href="{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}" style="color:#f18200;">{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}</a></p><br/>
	                                <p style="font-size: 12px; line-height: 16px; margin: 0;">Si en cliquant sur le lien, celui-ci ne fonctionne pas, veuillez copier et coller l'URL dans la barre d'adresse de votre navigateur.</p>
	                                <br />
	                                <p style="font-size:12px; line-height:16px; margin:0;">Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer ce message et votre mot de passe restera inchangé.</p>
                                </div>
                                
                            </td>
                        </tr>
                        <tr>
	                        <td bgcolor="#fff" style="background:#fff;padding:0;">
	                        	<p style="font-size:12px; margin:0; border-top:1px solid #d4d4d4; padding:20px 20px 40px 20px;">
	                          		<a href="{{store url=""}}" style="color:#939393;">Accueil {{var store.getFrontendName()}}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{store url='customer/account/'}}" style="color:#939393;">Votre compte client</a>
	                        	</p>
	                       	</td>
	                    </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
