<!--@subject Demande de confirmation d'inscription à la newsletter @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"var subscriber.getConfirmationLink()":"Subscriber Confirmation Url"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->


<body style="background:#F0F0F0; font-family:Arial, Verdana, Helvetica, sans-serif; font-size:12px; margin:0; padding:0; color:#939393 !important;">
<div style="background:#F0F0F0; font-family:Arial, Verdana, Helvetica, sans-serif; font-size:12px; margin:0; padding:0; color:#939393 !important;">
	<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
    <tr>
        <td align="center" valign="top" style="padding:20px 0 20px 0">
            <!-- [ header starts here] -->
            <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                <tr>
                    <td valign="top" style="padding:20px;border-bottom:1px solid #d4d4d4;">
                        <a href="{{store url=''}}" style="color:#f18200;"><img src="{{skin url='images/logo_email.gif' _area='frontend'}}" alt="{{var store.getFrontendName()}}" border="0"/></a>
                    </td>
                </tr>
                <!-- [ middle starts here] -->
                <tr>
                    <td valign="top" style="padding:20px 0;">
                    
                    	<div style="padding:0 20px;">
                        	<h1 style="font-size:18px; font-weight:bold; line-height:22px; margin:0 0 11px 0; color:#1b1b1b;">Nous vous remercions de l'intérêt que vous nous témoignez, en souhaitant recevoir nos informations !</h1>
                        </div>
                        
                        <p style="border-width:1px 0;border-style:solid;border-color:#d4d4d4; font-size:12px; line-height:16px; margin:40px 0; padding:13px 18px; background:#f8f8f8; color:#1b1b1b;">Pour commencer à recevoir la newsletter, vous devez d'abord confirmer votre inscription en cliquant sur le lien suivant&nbsp;:<br />
                        <a href="{{var subscriber.getConfirmationLink()}}" style="color:#f18200;">{{var subscriber.getConfirmationLink()}}</a></p>
                        
                  </td>
                </tr>
                <tr>
                        <td bgcolor="#fff" style="background:#fff;padding:0;">
                        	<p style="font-size:12px; margin:0; border-top:1px solid #d4d4d4; padding:20px 20px 40px 20px;">
                          		<a href="{{store url=""}}" style="color:#939393;">Accueil {{var store.getFrontendName()}}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{store url='customer/account/'}}" style="color:#939393;">Votre compte client</a>
                        	</p>
                       	</td>
                    </tr>
            </table>
        </td>
    </tr>
</table>
</div>
</body>

