<!--@subject Bienvenue, {{var name}} @-->
<!--@vars
{"htmlescape var=$name":"Nom du destinataire",
"var email":"Email du destinataire",
"var product_url":"Url pour le produit",
"var product_name":"Nom du produit",
"var product_image":"Url pour la petite image du produit (75 px)",
"var sender_name":"Nom de l'expéditeur",
"var sender_email":"Email de l'expéditeur",
"var message":"Message de l'expéditeur"}
@-->

Bonjour {{htmlescape var=$name}},<br /><br />

{{htmlescape var=$sender_name}} a souhaité vous faire connaître le produit <a href="{{var product_url}}">{{var product_name}}</a>.<br /><br />
Voici son message&nbsp;: <br />{{var message}}<br /><br />

