<!--@subject Take a look at {{var customer.name}}'s wishlist @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var message":"Wishlist Message",
"var items":"Wishlist Items"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F4F4F4; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; margin:0; padding:0;color:#999;">
<div style="background:#F4F4F4; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; margin:0; padding:0;color:#999;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
    <tr>
        <td align="center" valign="top" style="padding:20px 0 20px 0">
            <!-- [ header starts here] -->
            <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                <tr>
                    <td valign="top" align="center">
                        <a href="{{store url=""}}" style="color:#00b9af;"><img src="{{var logo_url}}" alt="{{var logo_alt}}" border="0" align="center"/></a>
                    </td>
                </tr>
                <!-- [ middle starts here] -->
                <tr>
                    <td valign="top">
                        <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Bonjour,<br/>Regardez ma liste de souhaits chez {{var store.getFrontendName()}}.</p>
                        <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">{{var message}}</p>
                        {{var items}}
                        <br/>
                        {{depend salable}}<p style="font-size:12px; line-height:16px; margin:0 0 8px 0;"><strong><a href="{{var addAllLink}}" style="color:#00b9af;">Ajouter tous les articles au panier d'achat</a></strong> |{{/depend}} <strong><a href="{{var viewOnSiteLink}}" style="color:#00b9af;">Afficher tous les articles de la liste de souhaits</a></strong></p>
                    </td>
                </tr>
                <tr>
                            <td bgcolor="#222" align="left" style="font-family:Verdana;background:#222; text-align:left;color:#757575; padding:0 0 25px 30px; " height="68px"><a href="{{store url="/"}}" style="font-family:Verdana;font-size:10px; margin:0; color:#757575;" color="#757575">Accueil, &laquo;{{var store.getFrontendName()}}&raquo;</a>&#124;<a href="{{store url="customer/account/"}}" style="font-family:Verdana;color:#757575;font-size:10px; margin:0;">Votre compte client</a></td>
                        </tr>
            </table>
        </td>
    </tr>
</table>
</div>
</body>